.perfect-grid-item {
	@if not $live_builder {
		&.overflowed-block {
			.grid-item-content,
			.rex-custom-scrollbar {
				overflow: visible;
			}
		}
	}
}

.disable-grid.disabled .grid-stack>.grid-stack-item.perfect-grid-item {
	position: relative;
	width: 100%;
	left: auto;
}