.#{$form-custom-style} {
  margin: 0 auto;
  div.wpcf7-response-output {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 0;
  }
  span.wpcf7-not-valid-tip {
    padding-top: 10px;
  }
  &.#{$form-custom-hide-tips} {
    span.wpcf7-not-valid-tip {
      display: none;
    }
  }
  textarea,
  input,
  button, input[type=button], input[type=reset], input[type=submit],
  a {
    font-size: inherit;
    font-family: inherit;
  }
  textarea,
  input,
  button, input[type=button], input[type=reset], input[type=submit] {
    letter-spacing: 2px;
  }
  input, textarea {
    &:focus {
      outline: none;
    }
  }
  .wpcf7-list-item {
    label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
    }
  }
  .wpcf7-form-control-wrap {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
}
div.wpcf7 {
  .#{$form-custom-loader} {
    position: relative;
    .wpcf7-spinner,
    .ajax-loader {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image:none;
      margin: 0;
      background-color: rgba(255,255,255,0.5);
    }
    .wpcf7-spinner {
      border-radius: 0;
      &::before {
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
      }
    }
    .sk-double-bounce {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .#{$form-custom-style} {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.rex-flex-left {
  .#{$form-custom-style} {
    margin-left: 0;
  }
}

.rex-flex-right {
  .#{$form-custom-style} {
    margin-right: 0;
  }
}