@mixin markerOpen {
	--rex-marker-body-max-height: 100vh;
	--rex-marker-icon-transform: rotate(45deg);
}

.rex-marker {
	--rex-marker-left: 50%;
	--rex-marker-top: 50%;
	--rex-marker-padding: 10px;
	--rex-marker-color-1: #000;
	--rex-marker-color-2: #fff;
	--rex-marker-background-color: var(--rex-marker-color-1);
	--rex-marker-color: var(--rex-marker-color-2);
	--rex-marker-border-radius: 5px;
	--rex-marker-box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.7);
	--rex-marker-transform: translate(-50%, -50%);
	
	--rex-marker-title-padding: 0 0 0 10px;

	--rex-marker-body-max-height: 0;

	--rex-marker-content-padding: 10px 0 15px 0;

	--rex-marker-icon-transform: rotate(0deg);
	--rex-marker-icon-color: var(--rex-marker-color-2);

	--rex-marker-link-padding: 10px 20px;
	--rex-marker-link-color: var(--rex-marker-color-1);
	--rex-marker-link-background-color: var(--rex-marker-color-2);
	--rex-marker-link-border-radius: 5px;

	display: block;
	position: absolute;
	left: var(--rex-marker-left);
	top: var(--rex-marker-top);
	padding: var(--rex-marker-padding);
	cursor: pointer;

	background-color: var(--rex-marker-background-color);
	color: var(--rex-marker-color);
	border-radius: var(--rex-marker-border-radius);
	box-shadow: var(--rex-marker-box-shadow);
	// transform: var(--rex-marker-transform);

	&__header,
	&__body {
		display: block;
	}

	&__body {
		overflow: hidden;
		max-height: var(--rex-marker-body-max-height);
		transition: max-height 0.3s;
	}
	
	&.open {
		@include markerOpen();
	}

	&__title {
		padding: var(--rex-marker-title-padding);
	}

	&__icon {
		display: inline-flex;
		padding: 8px;
		font-size: 13px;
		border: 2px solid var(--rex-marker-color-2);
		border-radius: 50%;
		transform: var(--rex-marker-icon-transform);
		transition: transform 0.3s;
	}

	&__content {
		display: block;
		padding: var(--rex-marker-content-padding);
	}

	&__link {
		display: block;
		padding: var(--rex-marker-link-padding);
		text-decoration: none;
		color: var(--rex-marker-link-color);
		background-color: var(--rex-marker-link-background-color);
		border-radius: var(--rex-marker-link-border-radius);
	}

	.l-svg-icons {
		> svg {
			fill: var(--rex-marker-icon-color);
		}
	}
}

@media (hover: hover) and (pointer: fine) {
	.rex-marker {
		&:hover {
			@include markerOpen();			
		}
	}
}