.rex-accordion {
  .rex-accordion--toggle {
    cursor: pointer;
  }

  .rex-accordion--arrow-icon {
    transition: transform 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  }
  
  .rex-accordion--close-icon {
    transition: transform 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  }

  &.close {
    .rex-accordion--arrow-icon {
      transform: rotate(-90deg);
    }
    .rex-accordion--close-icon {
      transform: rotate(-45deg); 
    }
  }

  &.open {
    .rex-accordion--arrow-icon {
      transform: rotate(90deg);
    }
    .rex-accordion--close-icon {
      transform: rotate(0); 
    }
  }

}
