/*  ----------- BACKGROUND VIDEOS ---------*/

.rex-video-section-wrap,
.rex-video-wrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  visibility: visible;
}

/*.rex-video-section-wrap {
	z-index: -1;
}*/

.rex-video-wrap {
  + div {
    position: relative;
  }
}

video.rex-video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}

.rex-video-toggle-audio {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 9px;
  right: 9px;
  display: block;
  // background-image: url('../img/ic_volume_up_3x.png');
  // @include backgroundCover;
  background-image: url("../img/ic_volume_up_off_white_black.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 0 -20px;
  opacity: 0.5;
  cursor: pointer;
  &.user-has-muted {
    // background-image: url('../img/ic_volume_off_3x.png');
    background-image: url("../img/ic_volume_up_off_white_black.png");
    background-position: -20px -20px;
    .rex-video-toggle-audio-shadow {
      // background-image: url('../img/ic_volume_off_white_3x.png');
      background-image: url("../img/ic_volume_up_off_white_black.png");
      background-position: -20px 0;
    }
  }
  .rex-video-toggle-audio-shadow {
    position: relative;
    display: block;
    top: -1px;
    left: -1px;
    width: inherit;
    height: inherit;
    // background-image: url('../img/ic_volume_up_white_3x.png');
    // @include backgroundCover;
    background-image: url("../img/ic_volume_up_off_white_black.png");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.rex-video-vimeo-wrap {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;

  &.rex-video-vimeo-wrap--block {
    // z-index: -1;
    + .rex-custom-scrollbar {
      position: relative;
    }
  }

  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: $small) {
  .perfect-grid-gallery .grid-item-content.youtube-player,
  .perfect-grid-gallery .grid-item-content.vimeo-player,
  .perfect-grid-gallery .grid-item-content.mp4-player {
    height: 100% !important;
  }
  .grid-item-content.youtube-player:before {
    display: block;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(https://www.youtube.com/yt/brand/media/image/YouTube-icon-dark.png);
    width: 100%;
    height: 100%;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
  }
  .rex-video-wrap {
    .rex-video-container {
      // visibility: hidden;
    }
    .rex-video-mp4-thumbnail {
      position: absolute;
      top: 50%;
      left: 50%;
      width: inherit;
      height: auto;
      z-index: 0;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

// .rotate-center {
//   -webkit-animation: rotate-center 1s linear infinite both;
//   animation: rotate-center 1s linear infinite both;
// }

.rex-video__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  z-index: 50;

  .video-tool {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    
    &.video-tool--view {
      display:flex;
    }
  }

  .loader {
    border-color:rgba(255,255,255,0.3);

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      border-left: 2px solid #fff;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      -webkit-animation: rotate-center 1s linear infinite both;
      animation: rotate-center 1s linear infinite both;
    }
  }

  .indicator {
    position: relative;
  }

  .pause {
    .indicator {
      width: 10px;
      height: 15px;

      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        background-color: #fff;
      }

      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        right: 0;
        background-color: #fff;
      }
    }
  }

  .play {
    .indicator {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid #fff;
    }
  }
}
