/* -------- MATERIAL CHANGES ---------- */
.#{$wrap-class} {
	::-webkit-input-placeholder {
		color: $builder-labels;
	}
	:-moz-placeholder {
		color: $builder-labels;
	}
	::-moz-placeholder {
		color: $builder-labels;
	}
	:-ms-input-placeholder {
		color: $builder-labels;
	}
	[type=radio] {
		&:checked {
			&+label {
				padding-left: 28px;
				color: $builder-button-active;
				i,
				&:before {
					color: $builder-button-active;
				}
			}
		}
		&:not(:checked) {
			&+label {
				padding-left: 28px;
			}
		}
	}
	[type="checkbox"] {
		&.filled-in {
			&:not(:checked) {
				+ label:after {
					top: 4px;
					width: 18px;
					height: 18px;
					border-color: $builder-button-inactive-modal;
				}
			}
			&:checked {
				+ label:before {
					width: 7px;
					height: 12px;
					top: 4px;
				}
				+ label:after {
					top: 4px;
					width: 18px;
					height: 18px;
					border: 2px solid $builder-button-active;
					background-color: $builder-button-active;
				}
			}
		}
	}
	input[type=text],
	input[type=number] {
		&:focus:not([readonly]) {
			border-bottom: 1px solid $builder-button-inactive-modal;
			box-shadow: none;
			~ .rex-material-bar {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
	}
	.rex-material-bar {
		position: absolute;
		width: 100%;
		height: 1px;
		right: 0;
		bottom: 7px;
		background-color: #039be5;
		box-shadow: 0 1px 0 0 #039be5;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition-duration: .2s;
		transition-duration: .2s;
		-webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
		transition-timing-function: cubic-bezier(.4,0,.2,1);
	}
	.prefix {
		~.rex-material-bar {
			width: calc(100% - 41px);
		}
	}
}