.tool-button--big {
  border-radius: 25px;
  box-shadow: $main-shadow;
  @include bl-btn;
}

.tool-button {
  display: block;
  // width: 20px;
  // height: 20px;
  border-radius: 50%;
  overflow: visible;
  visibility: visible;
  z-index: 30;
  // padding: 0px;
  padding: 5px;
  cursor: pointer;
  line-height: 1;
  @include bl-btn;

  &:hover {
    @include bl-btn--hover;
  }

  &.active {
    @include bl-btn--hover;
  }

  &.tool-button--inline {
    display: inline-block;
  }
}

.tool-button-floating {
  // > .tool-button {
  position: relative;
  display: inline-block;
  &:hover {
    .tool-button_list {
      .tool-button {
        opacity: 1;
        transform: scale(1) translateY(0) translateX(0);
      }
    }
  }
  // }
}

.tool-button_list {
  position: absolute;
  z-index: 10000;
  top: 100%;
  .tool-button {
    transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
}
