%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-A001-Tablet {
	@extend %svg-common;
	background-position: 90.71428571428571% 66.92111959287531%;
}

.svg-A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-A002-Redo {
	@extend %svg-common;
	background-position: 88.6734693877551% 66.92111959287531%;
}

.svg-A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-A003-Undo {
	@extend %svg-common;
	background-position: 92.75510204081633% 66.92111959287531%;
}

.svg-A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save {
	@extend %svg-common;
	background-position: 94.79591836734694% 66.92111959287531%;
}

.svg-A006-Save-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save-Clear {
	@extend %svg-common;
	background-position: 96.83673469387755% 66.92111959287531%;
}

.svg-A006-Save-Clear-dims {
	width: 20px;
	height: 20px;
}

.svg-A007-Close {
	@extend %svg-common;
	background-position: 43.46938775510204% 69.8473282442748%;
}

.svg-A007-Close-dims {
	width: 20px;
	height: 20px;
}

.svg-A008-Code {
	@extend %svg-common;
	background-position: 53.673469387755105% 69.8473282442748%;
}

.svg-A008-Code-dims {
	width: 20px;
	height: 20px;
}

.svg-A009-Range {
	@extend %svg-common;
	background-position: 59.795918367346935% 69.8473282442748%;
}

.svg-A009-Range-dims {
	width: 20px;
	height: 20px;
}

.svg-A010-Mobile {
	@extend %svg-common;
	background-position: 61.83673469387755% 69.8473282442748%;
}

.svg-A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-A011-Desktop {
	@extend %svg-common;
	background-position: 63.87755102040816% 69.8473282442748%;
}

.svg-A011-Desktop-dims {
	width: 20px;
	height: 20px;
}

.svg-A012-Models-List {
	@extend %svg-common;
	background-position: 65.91836734693878% 69.8473282442748%;
}

.svg-A012-Models-List-dims {
	width: 20px;
	height: 20px;
}

.svg-B001-Full {
	@extend %svg-common;
	background-position: 67.95918367346938% 69.8473282442748%;
}

.svg-B001-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-B002-Boxed {
	@extend %svg-common;
	background-position: 53.97959183673469% 66.92111959287531%;
}

.svg-B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-B003-Text {
	@extend %svg-common;
	background-position: 56.02040816326531% 66.92111959287531%;
}

.svg-B003-Text-dims {
	width: 20px;
	height: 20px;
}

.svg-B005-RexModel {
	@extend %svg-common;
	background-position: 58.06122448979592% 66.92111959287531%;
}

.svg-B005-RexModel-dims {
	width: 20px;
	height: 20px;
}

.svg-B006-Collapse {
	@extend %svg-common;
	background-position: 60.10204081632653% 66.92111959287531%;
}

.svg-B006-Collapse-dims {
	width: 20px;
	height: 20px;
}

.svg-B007-Move {
	@extend %svg-common;
	background-position: 62.142857142857146% 66.92111959287531%;
}

.svg-B007-Move-dims {
	width: 20px;
	height: 20px;
}

.svg-B010-Masonry {
	@extend %svg-common;
	background-position: 64.18367346938776% 66.92111959287531%;
}

.svg-B010-Masonry-dims {
	width: 20px;
	height: 20px;
}

.svg-B011-Grid {
	@extend %svg-common;
	background-position: 66.22448979591837% 66.92111959287531%;
}

.svg-B011-Grid-dims {
	width: 20px;
	height: 20px;
}

.svg-B012-Full-Height {
	@extend %svg-common;
	background-position: 68.26530612244898% 66.92111959287531%;
}

.svg-B012-Full-Height-dims {
	width: 20px;
	height: 20px;
}

.svg-B013-Row-ID {
	@extend %svg-common;
	background-position: 70.3061224489796% 66.92111959287531%;
}

.svg-B013-Row-ID-dims {
	width: 20px;
	height: 20px;
}

.svg-B014-Closed {
	@extend %svg-common;
	background-position: 72.34693877551021% 66.92111959287531%;
}

.svg-B014-Closed-dims {
	width: 20px;
	height: 20px;
}

.svg-B015-UnClosed {
	@extend %svg-common;
	background-position: 74.38775510204081% 66.92111959287531%;
}

.svg-B015-UnClosed-dims {
	width: 20px;
	height: 20px;
}

.svg-B016-New-Adjacent-Row {
	@extend %svg-common;
	background-position: 76.42857142857143% 66.92111959287531%;
}

.svg-B016-New-Adjacent-Row-dims {
	width: 20px;
	height: 20px;
}

.svg-B017-Grid-Layout {
	@extend %svg-common;
	background-position: 78.46938775510205% 66.92111959287531%;
}

.svg-B017-Grid-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-C001-Link {
	@extend %svg-common;
	background-position: 80.51020408163265% 66.92111959287531%;
}

.svg-C001-Link-dims {
	width: 20px;
	height: 20px;
}

.svg-C002-No-Select {
	@extend %svg-common;
	background-position: 82.55102040816327% 66.92111959287531%;
}

.svg-C002-No-Select-dims {
	width: 20px;
	height: 20px;
}

.svg-C003-Image-Full {
	@extend %svg-common;
	background-position: 84.59183673469387% 66.92111959287531%;
}

.svg-C003-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-C004-Image-Natural {
	@extend %svg-common;
	background-position: 86.63265306122449% 66.92111959287531%;
}

.svg-C004-Image-Natural-dims {
	width: 20px;
	height: 20px;
}

.svg-C005-Layout {
	@extend %svg-common;
	background-position: 51.93877551020408% 66.92111959287531%;
}

.svg-C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-C006-Insert-Icon {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-C006-Insert-Icon-dims {
	width: 500px;
	height: 500px;
}

.svg-C007-Open-Box {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-C007-Open-Box-dims {
	width: 500px;
	height: 500px;
}

.svg-C008-Star {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-C008-Star-dims {
	width: 306px;
	height: 306px;
}

.svg-D001-Radius {
	@extend %svg-common;
	background-position: 45.39877300613497% 67.09183673469387%;
}

.svg-D001-Radius-dims {
	width: 22px;
	height: 22px;
}

.svg-Z001-Plus {
	@extend %svg-common;
	background-position: 98.87755102040816% 66.92111959287531%;
}

.svg-Z001-Plus-dims {
	width: 20px;
	height: 20px;
}

.svg-Z002-Image-Full {
	@extend %svg-common;
	background-position: 41.42857142857143% 69.8473282442748%;
}

.svg-Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-Z003-Close {
	@extend %svg-common;
	background-position: 34% 70.8215297450425%;
}

.svg-Z003-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-Z003-RexSlider {
	@extend %svg-common;
	background-position: 45.51020408163265% 69.8473282442748%;
}

.svg-Z003-RexSlider-dims {
	width: 20px;
	height: 20px;
}

.svg-Z004-Copy {
	@extend %svg-common;
	background-position: 47.55102040816327% 69.8473282442748%;
}

.svg-Z004-Copy-dims {
	width: 20px;
	height: 20px;
}

.svg-Z005-Setting {
	@extend %svg-common;
	background-position: 49.59183673469388% 69.8473282442748%;
}

.svg-Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

.svg-Z006-Video {
	@extend %svg-common;
	background-position: 51.63265306122449% 69.8473282442748%;
}

.svg-Z006-Video-dims {
	width: 20px;
	height: 20px;
}

.svg-Z007-Zoom {
	@extend %svg-common;
	background-position: 49.84678243105209% 67.00636942675159%;
}

.svg-Z007-Zoom-dims {
	width: 21px;
	height: 21px;
}

.svg-Z008-Edit {
	@extend %svg-common;
	background-position: 55.714285714285715% 69.8473282442748%;
}

.svg-Z008-Edit-dims {
	width: 20px;
	height: 20px;
}

.svg-Z009-More {
	@extend %svg-common;
	background-position: 57.755102040816325% 69.8473282442748%;
}

.svg-Z009-More-dims {
	width: 20px;
	height: 20px;
}

.svg-Z010-Logo {
	@extend %svg-common;
	background-position: 43.64754098360656% 62.73525721455458%;
}

.svg-Z010-Logo-dims {
	width: 24px;
	height: 9px;
}

.svg-Z011-Arrow {
	@extend %svg-common;
	background-position: 41.260162601626014% 67.17752234993614%;
}

.svg-Z011-Arrow-dims {
	width: 16px;
	height: 23px;
}

.svg-Z012-HeightBars {
	@extend %svg-common;
	background-position: 41.42857142857143% 64.1025641025641%;
}

.svg-Z012-HeightBars-dims {
	width: 20px;
	height: 26px;
}

.svg-Z012-Page {
	@extend %svg-common;
	background-position: 47.648261758691206% 67.09183673469387%;
}

.svg-Z012-Page-dims {
	width: 22px;
	height: 22px;
}

.svg-Z013-Pages {
	@extend %svg-common;
	background-position: 43.149284253578735% 67.09183673469387%;
}

.svg-Z013-Pages-dims {
	width: 22px;
	height: 22px;
}

.svg-_A001-Tablet {
	@extend %svg-common;
	background-position: 70% 69.8473282442748%;
}

.svg-_A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-_A002-Redo {
	@extend %svg-common;
	background-position: 72.04081632653062% 69.8473282442748%;
}

.svg-_A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-_A003-Undo {
	@extend %svg-common;
	background-position: 74.08163265306122% 69.8473282442748%;
}

.svg-_A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-_A010-Mobile {
	@extend %svg-common;
	background-position: 76.12244897959184% 69.8473282442748%;
}

.svg-_A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-_B002-Boxed {
	@extend %svg-common;
	background-position: 78.16326530612245% 69.8473282442748%;
}

.svg-_B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-_C005-Layout {
	@extend %svg-common;
	background-position: 80.20408163265306% 69.8473282442748%;
}

.svg-_C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-_Z002-Image-Full {
	@extend %svg-common;
	background-position: 82.24489795918367% 69.8473282442748%;
}

.svg-_Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-_Z005-Setting {
	@extend %svg-common;
	background-position: 84.28571428571429% 69.8473282442748%;
}

.svg-_Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

.svg-__A002-Redo {
	@extend %svg-common;
	background-position: 86.3265306122449% 69.8473282442748%;
}

.svg-__A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-__A003-Undo {
	@extend %svg-common;
	background-position: 88.36734693877551% 69.8473282442748%;
}

.svg-__A003-Undo-dims {
	width: 20px;
	height: 20px;
}

