%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-A001-Tablet {
	@extend %svg-common;
	background-position: 65.93406593406593% 86.57718120805369%;
}

.svg-A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-A002-Redo {
	@extend %svg-common;
	background-position: 32.967032967032964% 86.57718120805369%;
}

.svg-A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-A003-Undo {
	@extend %svg-common;
	background-position: 89.01098901098901% 13.422818791946309%;
}

.svg-A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save {
	@extend %svg-common;
	background-position: 89.01098901098901% 80.53691275167785%;
}

.svg-A006-Save-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save-Clear {
	@extend %svg-common;
	background-position: 21.978021978021978% 100%;
}

.svg-A006-Save-Clear-dims {
	width: 20px;
	height: 20px;
}

.svg-A007-Close {
	@extend %svg-common;
	background-position: 32.967032967032964% 100%;
}

.svg-A007-Close-dims {
	width: 20px;
	height: 20px;
}

.svg-A008-Code {
	@extend %svg-common;
	background-position: 43.956043956043956% 100%;
}

.svg-A008-Code-dims {
	width: 20px;
	height: 20px;
}

.svg-A009-Range {
	@extend %svg-common;
	background-position: 65.93406593406593% 42.281879194630875%;
}

.svg-A009-Range-dims {
	width: 20px;
	height: 20px;
}

.svg-A010-Mobile {
	@extend %svg-common;
	background-position: 65.93406593406593% 55.70469798657718%;
}

.svg-A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-A011-Desktop {
	@extend %svg-common;
	background-position: 54.94505494505494% 32.88590604026846%;
}

.svg-A011-Desktop-dims {
	width: 20px;
	height: 20px;
}

.svg-A012-Models-List {
	@extend %svg-common;
	background-position: 54.94505494505494% 46.308724832214764%;
}

.svg-A012-Models-List-dims {
	width: 20px;
	height: 20px;
}

.svg-B001-Full {
	@extend %svg-common;
	background-position: 0 73.15436241610739%;
}

.svg-B001-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-B002-Boxed {
	@extend %svg-common;
	background-position: 10.989010989010989% 73.15436241610739%;
}

.svg-B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-B003-Text {
	@extend %svg-common;
	background-position: 21.978021978021978% 73.15436241610739%;
}

.svg-B003-Text-dims {
	width: 20px;
	height: 20px;
}

.svg-B005-RexModel {
	@extend %svg-common;
	background-position: 32.967032967032964% 73.15436241610739%;
}

.svg-B005-RexModel-dims {
	width: 20px;
	height: 20px;
}

.svg-B006-Collapse {
	@extend %svg-common;
	background-position: 43.956043956043956% 73.15436241610739%;
}

.svg-B006-Collapse-dims {
	width: 20px;
	height: 20px;
}

.svg-B007-Move {
	@extend %svg-common;
	background-position: 54.94505494505494% 73.15436241610739%;
}

.svg-B007-Move-dims {
	width: 20px;
	height: 20px;
}

.svg-B010-Masonry {
	@extend %svg-common;
	background-position: 65.93406593406593% 73.15436241610739%;
}

.svg-B010-Masonry-dims {
	width: 20px;
	height: 20px;
}

.svg-B011-Grid {
	@extend %svg-common;
	background-position: 78.02197802197803% 0;
}

.svg-B011-Grid-dims {
	width: 20px;
	height: 20px;
}

.svg-B012-Full-Height {
	@extend %svg-common;
	background-position: 78.02197802197803% 13.422818791946309%;
}

.svg-B012-Full-Height-dims {
	width: 20px;
	height: 20px;
}

.svg-B013-Row-ID {
	@extend %svg-common;
	background-position: 78.02197802197803% 26.845637583892618%;
}

.svg-B013-Row-ID-dims {
	width: 20px;
	height: 20px;
}

.svg-B014-Closed {
	@extend %svg-common;
	background-position: 78.02197802197803% 40.26845637583892%;
}

.svg-B014-Closed-dims {
	width: 20px;
	height: 20px;
}

.svg-B015-UnClosed {
	@extend %svg-common;
	background-position: 78.02197802197803% 53.691275167785236%;
}

.svg-B015-UnClosed-dims {
	width: 20px;
	height: 20px;
}

.svg-B016-New-Adjacent-Row {
	@extend %svg-common;
	background-position: 78.02197802197803% 67.11409395973155%;
}

.svg-B016-New-Adjacent-Row-dims {
	width: 20px;
	height: 20px;
}

.svg-B017-Grid-Layout {
	@extend %svg-common;
	background-position: 0 86.57718120805369%;
}

.svg-B017-Grid-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-C001-Link {
	@extend %svg-common;
	background-position: 10.989010989010989% 86.57718120805369%;
}

.svg-C001-Link-dims {
	width: 20px;
	height: 20px;
}

.svg-C002-No-Select {
	@extend %svg-common;
	background-position: 21.978021978021978% 86.57718120805369%;
}

.svg-C002-No-Select-dims {
	width: 20px;
	height: 20px;
}

.svg-C003-Image-Full {
	@extend %svg-common;
	background-position: 65.93406593406593% 28.859060402684563%;
}

.svg-C003-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-C004-Image-Natural {
	@extend %svg-common;
	background-position: 43.956043956043956% 86.57718120805369%;
}

.svg-C004-Image-Natural-dims {
	width: 20px;
	height: 20px;
}

.svg-C005-Layout {
	@extend %svg-common;
	background-position: 54.94505494505494% 86.57718120805369%;
}

.svg-C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-D001-Radius {
	@extend %svg-common;
	background-position: 66.66666666666667% 0;
}

.svg-D001-Radius-dims {
	width: 22px;
	height: 22px;
}

.svg-Z001-Plus {
	@extend %svg-common;
	background-position: 76.92307692307692% 86.57718120805369%;
}

.svg-Z001-Plus-dims {
	width: 20px;
	height: 20px;
}

.svg-Z002-Image-Full {
	@extend %svg-common;
	background-position: 89.01098901098901% 0;
}

.svg-Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-Z003-Close {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-Z003-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-Z003-RexSlider {
	@extend %svg-common;
	background-position: 89.01098901098901% 26.845637583892618%;
}

.svg-Z003-RexSlider-dims {
	width: 20px;
	height: 20px;
}

.svg-Z004-Copy {
	@extend %svg-common;
	background-position: 89.01098901098901% 40.26845637583892%;
}

.svg-Z004-Copy-dims {
	width: 20px;
	height: 20px;
}

.svg-Z005-Setting {
	@extend %svg-common;
	background-position: 89.01098901098901% 53.691275167785236%;
}

.svg-Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

.svg-Z006-Video {
	@extend %svg-common;
	background-position: 89.01098901098901% 67.11409395973155%;
}

.svg-Z006-Video-dims {
	width: 20px;
	height: 20px;
}

.svg-Z007-Zoom {
	@extend %svg-common;
	background-position: 66.29834254143647% 14.864864864864865%;
}

.svg-Z007-Zoom-dims {
	width: 21px;
	height: 21px;
}

.svg-Z008-Edit {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-Z008-Edit-dims {
	width: 20px;
	height: 20px;
}

.svg-Z009-More {
	@extend %svg-common;
	background-position: 10.989010989010989% 100%;
}

.svg-Z009-More-dims {
	width: 20px;
	height: 20px;
}

.svg-Z010-Logo {
	@extend %svg-common;
	background-position: 0 62.5%;
}

.svg-Z010-Logo-dims {
	width: 24px;
	height: 9px;
}

.svg-Z011-Arrow {
	@extend %svg-common;
	background-position: 53.763440860215056% 17.80821917808219%;
}

.svg-Z011-Arrow-dims {
	width: 16px;
	height: 23px;
}

.svg-Z012-HeightBars {
	@extend %svg-common;
	background-position: 54.94505494505494% 0;
}

.svg-Z012-HeightBars-dims {
	width: 20px;
	height: 26px;
}

.svg-_A001-Tablet {
	@extend %svg-common;
	background-position: 54.94505494505494% 100%;
}

.svg-_A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-_A002-Redo {
	@extend %svg-common;
	background-position: 65.93406593406593% 100%;
}

.svg-_A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-_A003-Undo {
	@extend %svg-common;
	background-position: 76.92307692307692% 100%;
}

.svg-_A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-_A010-Mobile {
	@extend %svg-common;
	background-position: 87.91208791208791% 100%;
}

.svg-_A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-_B002-Boxed {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-_B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-_C005-Layout {
	@extend %svg-common;
	background-position: 100% 13.422818791946309%;
}

.svg-_C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-_Z002-Image-Full {
	@extend %svg-common;
	background-position: 100% 26.845637583892618%;
}

.svg-_Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-_Z005-Setting {
	@extend %svg-common;
	background-position: 100% 40.26845637583892%;
}

.svg-_Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

.svg-__A002-Redo {
	@extend %svg-common;
	background-position: 100% 53.691275167785236%;
}

.svg-__A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-__A003-Undo {
	@extend %svg-common;
	background-position: 100% 67.11409395973155%;
}

.svg-__A003-Undo-dims {
	width: 20px;
	height: 20px;
}

