%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-A001-Tablet {
	@extend %svg-common;
	background-position: 87.8048780487805% 85.71428571428571%;
}

.svg-A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-A002-Redo {
	@extend %svg-common;
	background-position: 73.17073170731707% 85.71428571428571%;
}

.svg-A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-A003-Undo {
	@extend %svg-common;
	background-position: 48.78048780487805% 100%;
}

.svg-A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save {
	@extend %svg-common;
	background-position: 85.36585365853658% 100%;
}

.svg-A006-Save-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save-Clear {
	@extend %svg-common;
	background-position: 60.97560975609756% 35.714285714285715%;
}

.svg-A006-Save-Clear-dims {
	width: 20px;
	height: 20px;
}

.svg-A007-Close {
	@extend %svg-common;
	background-position: 60.97560975609756% 50%;
}

.svg-A007-Close-dims {
	width: 20px;
	height: 20px;
}

.svg-A008-Code {
	@extend %svg-common;
	background-position: 0 71.42857142857143%;
}

.svg-A008-Code-dims {
	width: 20px;
	height: 20px;
}

.svg-A009-Range {
	@extend %svg-common;
	background-position: 12.195121951219512% 71.42857142857143%;
}

.svg-A009-Range-dims {
	width: 20px;
	height: 20px;
}

.svg-A010-Mobile {
	@extend %svg-common;
	background-position: 24.390243902439025% 71.42857142857143%;
}

.svg-A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-A011-Desktop {
	@extend %svg-common;
	background-position: 36.58536585365854% 71.42857142857143%;
}

.svg-A011-Desktop-dims {
	width: 20px;
	height: 20px;
}

.svg-A012-Models-List {
	@extend %svg-common;
	background-position: 48.78048780487805% 71.42857142857143%;
}

.svg-A012-Models-List-dims {
	width: 20px;
	height: 20px;
}

.svg-B001-Full {
	@extend %svg-common;
	background-position: 60.97560975609756% 71.42857142857143%;
}

.svg-B001-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-B002-Boxed {
	@extend %svg-common;
	background-position: 75.60975609756098% 0;
}

.svg-B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-B003-Text {
	@extend %svg-common;
	background-position: 75.60975609756098% 14.285714285714286%;
}

.svg-B003-Text-dims {
	width: 20px;
	height: 20px;
}

.svg-B005-RexModel {
	@extend %svg-common;
	background-position: 75.60975609756098% 28.571428571428573%;
}

.svg-B005-RexModel-dims {
	width: 20px;
	height: 20px;
}

.svg-B006-Collapse {
	@extend %svg-common;
	background-position: 75.60975609756098% 42.857142857142854%;
}

.svg-B006-Collapse-dims {
	width: 20px;
	height: 20px;
}

.svg-B007-Move {
	@extend %svg-common;
	background-position: 75.60975609756098% 57.142857142857146%;
}

.svg-B007-Move-dims {
	width: 20px;
	height: 20px;
}

.svg-B010-Masonry {
	@extend %svg-common;
	background-position: 75.60975609756098% 71.42857142857143%;
}

.svg-B010-Masonry-dims {
	width: 20px;
	height: 20px;
}

.svg-B011-Grid {
	@extend %svg-common;
	background-position: 0 85.71428571428571%;
}

.svg-B011-Grid-dims {
	width: 20px;
	height: 20px;
}

.svg-B012-Full-Height {
	@extend %svg-common;
	background-position: 12.195121951219512% 85.71428571428571%;
}

.svg-B012-Full-Height-dims {
	width: 20px;
	height: 20px;
}

.svg-B013-Row-ID {
	@extend %svg-common;
	background-position: 24.390243902439025% 85.71428571428571%;
}

.svg-B013-Row-ID-dims {
	width: 20px;
	height: 20px;
}

.svg-B014-Closed {
	@extend %svg-common;
	background-position: 36.58536585365854% 85.71428571428571%;
}

.svg-B014-Closed-dims {
	width: 20px;
	height: 20px;
}

.svg-B015-UnClosed {
	@extend %svg-common;
	background-position: 48.78048780487805% 85.71428571428571%;
}

.svg-B015-UnClosed-dims {
	width: 20px;
	height: 20px;
}

.svg-B016-New-Adjacent-Row {
	@extend %svg-common;
	background-position: 60.97560975609756% 85.71428571428571%;
}

.svg-B016-New-Adjacent-Row-dims {
	width: 20px;
	height: 20px;
}

.svg-C001-Link {
	@extend %svg-common;
	background-position: 60.97560975609756% 21.428571428571427%;
}

.svg-C001-Link-dims {
	width: 20px;
	height: 20px;
}

.svg-C002-No-Select {
	@extend %svg-common;
	background-position: 87.8048780487805% 0;
}

.svg-C002-No-Select-dims {
	width: 20px;
	height: 20px;
}

.svg-C003-Image-Full {
	@extend %svg-common;
	background-position: 87.8048780487805% 14.285714285714286%;
}

.svg-C003-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-C004-Image-Natural {
	@extend %svg-common;
	background-position: 87.8048780487805% 28.571428571428573%;
}

.svg-C004-Image-Natural-dims {
	width: 20px;
	height: 20px;
}

.svg-C005-Layout {
	@extend %svg-common;
	background-position: 87.8048780487805% 42.857142857142854%;
}

.svg-C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-Z001-Plus {
	@extend %svg-common;
	background-position: 87.8048780487805% 57.142857142857146%;
}

.svg-Z001-Plus-dims {
	width: 20px;
	height: 20px;
}

.svg-Z002-Image-Full {
	@extend %svg-common;
	background-position: 87.8048780487805% 71.42857142857143%;
}

.svg-Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-Z003-Close {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-Z003-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-Z003-RexSlider {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-Z003-RexSlider-dims {
	width: 20px;
	height: 20px;
}

.svg-Z004-Copy {
	@extend %svg-common;
	background-position: 12.195121951219512% 100%;
}

.svg-Z004-Copy-dims {
	width: 20px;
	height: 20px;
}

.svg-Z005-Setting {
	@extend %svg-common;
	background-position: 24.390243902439025% 100%;
}

.svg-Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

.svg-Z006-Video {
	@extend %svg-common;
	background-position: 36.58536585365854% 100%;
}

.svg-Z006-Video-dims {
	width: 20px;
	height: 20px;
}

.svg-Z007-Zoom {
	@extend %svg-common;
	background-position: 61.34969325153374% 6.474820143884892%;
}

.svg-Z007-Zoom-dims {
	width: 21px;
	height: 21px;
}

.svg-Z008-Edit {
	@extend %svg-common;
	background-position: 60.97560975609756% 100%;
}

.svg-Z008-Edit-dims {
	width: 20px;
	height: 20px;
}

.svg-Z009-More {
	@extend %svg-common;
	background-position: 73.17073170731707% 100%;
}

.svg-Z009-More-dims {
	width: 20px;
	height: 20px;
}

.svg-Z010-Logo {
	@extend %svg-common;
	background-position: 62.5% 0;
}

.svg-Z010-Logo-dims {
	width: 24px;
	height: 9px;
}

.svg-_A001-Tablet {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-_A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-_A002-Redo {
	@extend %svg-common;
	background-position: 100% 14.285714285714286%;
}

.svg-_A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-_A003-Undo {
	@extend %svg-common;
	background-position: 100% 28.571428571428573%;
}

.svg-_A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-_A010-Mobile {
	@extend %svg-common;
	background-position: 100% 42.857142857142854%;
}

.svg-_A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-_B002-Boxed {
	@extend %svg-common;
	background-position: 100% 57.142857142857146%;
}

.svg-_B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-_C005-Layout {
	@extend %svg-common;
	background-position: 100% 71.42857142857143%;
}

.svg-_C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-_Z002-Image-Full {
	@extend %svg-common;
	background-position: 100% 85.71428571428571%;
}

.svg-_Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-_Z005-Setting {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-_Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

