.handle:hover{
    background-color: green;
    transform: scale(2);
}

.handle {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    box-sizing: inherit;
}

.top-left {
    left: 0%;
    top: 0%;
    margin-top: -5px;
    margin-left: -5px;
}

.top-center {
    left: 50%;
    top: 0%;
    margin-top: -5px;
    margin-left: -5px;
}

.top-right {
    left: 100%;
    top: 0%;
    margin-top: -5px;
    margin-left: -5px;
}

.mid-left {
    top:50%;
    left: 0%;
    margin-left: -5px;
}

.mid-right {
    left: 100%;
    top: 50%;
    margin-left: -5px;
}

.bottom-left {
    left: 0%;
    top: 100%;
    margin-left: -5px;
    margin-top: -5px;
}

.bottom-center {
    left: 50%;
    top: 100%;
    margin-top: -5px;
    margin-left: -5px;
}

.bottom-right {
    left: 100%;
    top: 100%;
    margin-left: -5px;
    margin-top: -5px;
}