.circle-handle:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 
                0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transform: scale(2);
    -webkit-transform: scale(2);
}

.perfect-grid-item{
    transition: box-shadow 0.3s;
}

.el-size-viewer {
    visibility: hidden;
    position: absolute;
    padding: 4px;
    font-family: 'Open Sans';
    background: rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 20;
    font-size: 10px;
    letter-spacing: 2px;
}

.circle-handle {
    width: 10px;
    height: 10px;
    background-color: #039be5;
    border: 1px solid white;
    border-radius: 50%;
    overflow: visible;
    -webkit-transition: scale 0.3s ease-out;
    -moz-transition: scale 0.3s ease-out;
    -o-transition: scale 0.3s ease-out;
    -ms-transition: scale 0.3s ease-out;
    transition: scale 0.3s ease-out;
    z-index: 31;
}


.ui-resizable-handle {
    visibility: hidden;
    position: absolute;
    z-index: 31;
    box-sizing: inherit;
}

#toolBox {
    position: fixed;
    bottom: 20px;
    background-color: green;
}

.resizePlaceHolder{
    outline: 3px dashed #444;
    outline-offset: -6px;
   -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
}

.packery-drop-placeholder {
    outline: 3px dashed #444;
    outline-offset: -6px;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
  }

  /* highlight drag & drop */

/* jQuery UI Draggable adds ui-draggable-dragging */
.ui-draggable-dragging{
    z-index: 2;
    cursor: pointer;
}

.grid-item-content:active {
    cursor: pointer;
}

/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag:active {
  cursor: hand; 
}