.has-wow {
  opacity: 0;
}

.has-rs-animation {
  opacity: 0;
}

.block-effected {
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  vertical-align: middle;
}

.block-effected::before, .block-effected::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}

.draw::before, .draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover {
  color: #ffffff;
}

.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/** ------- UTILITY ----------- */
@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeInAndOut {
  -webkit-animation-name: fadeInAndOut;
  animation-name: fadeInAndOut;
}

/* ---- Section style --------------- */
.rexpansive_section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.rexpansive_section .full-disposition,
.rexpansive_section .center-disposition {
  margin: 0 auto;
  overflow: hidden;
  visibility: visible;
}

.rexpansive_section .full-disposition {
  width: 100%;
}

.rexpansive_section .center-disposition {
  width: 80%;
}

.rexpansive_section.full-height-section {
  min-height: 100vh;
}

.rexpansive_section.full-height-section .perfect-grid-gallery {
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .rexpansive_section.full-height-section .perfect-grid-gallery .perfect-grid-item:nth-child(2) {
    min-height: 100vh !important;
    height: auto !important;
  }
  .rexpansive_section.full-height-section .perfect-grid-gallery .perfect-grid-item:nth-child(2) .grid-item-content,
  .rexpansive_section.full-height-section .perfect-grid-gallery .perfect-grid-item:nth-child(2) .responsive-block-overlay {
    min-height: 100vh !important;
  }
}

/* ----- Grid Flexbox content alignment ----------------*/
.rex-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.rex-flexbox .rex-custom-position {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.perfect-grid-item.rex-flex-top .rex-flexbox {
  -webkit-flex-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.perfect-grid-item.rex-flex-middle .rex-flexbox {
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.perfect-grid-item.rex-flex-bottom .rex-flexbox {
  -webkit-flex-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.perfect-grid-item.rex-flex-left .rex-flexbox {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.perfect-grid-item.rex-flex-left .natural-image-content,
.perfect-grid-item.rex-flex-left .text-wrap {
  text-align: left;
}

.perfect-grid-item.rex-flex-center .rex-flexbox {
  -webkit-justify-content: center;
  justify-content: center;
}

.perfect-grid-item.rex-flex-center .natural-image-content,
.perfect-grid-item.rex-flex-center .text-wrap {
  text-align: center;
}

.perfect-grid-item.rex-flex-right .rex-flexbox {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.perfect-grid-item.rex-flex-right .natural-image-content,
.perfect-grid-item.rex-flex-right .text-wrap {
  text-align: right;
}

.perfect-grid-item.rex-flex-left.rex-flex-top .grid-item-content {
  background-position: left top;
}

.perfect-grid-item.rex-flex-left.rex-flex-middle .grid-item-content {
  background-position: left center;
}

.perfect-grid-item.rex-flex-left.rex-flex-bottom .grid-item-content {
  background-position: left bottom;
}

.perfect-grid-item.rex-flex-center.rex-flex-top .grid-item-content {
  background-position: center top;
}

.perfect-grid-item.rex-flex-center.rex-flex-middle .grid-item-content {
  background-position: center center;
}

.perfect-grid-item.rex-flex-center.rex-flex-bottom .grid-item-content {
  background-position: center bottom;
}

.perfect-grid-item.rex-flex-right.rex-flex-top .grid-item-content {
  background-position: right top;
}

.perfect-grid-item.rex-flex-right.rex-flex-middle .grid-item-content {
  background-position: right center;
}

.perfect-grid-item.rex-flex-right.rex-flex-bottom .grid-item-content {
  background-position: right bottom;
}

/* -------------- TYPOGRAPHY ------------- */
.perfect-grid-item .text-wrap p:not(:last-child) {
  margin-bottom: 1em;
}

/* ------- OVERLAY ------------ */
.responsive-overlay {
  visibility: hidden;
  height: inherit;
  position: relative;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 30;
}

.full-height-section .responsive-overlay {
  min-height: 100vh;
}

@media screen and (min-width: 1025px) {
  .active-large-overlay .responsive-overlay {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .active-medium-overlay .responsive-overlay {
    visibility: visible;
  }
}

@media screen and (max-width: 767px) {
  .active-small-overlay .responsive-overlay {
    visibility: visible;
  }
}

.responsive-block-overlay {
  position: relative;
  visibility: hidden;
  width: 100%;
  height: inherit;
  display: inherit;
  -webkit-flex-align: inherit;
  -ms-flex-align: inherit;
  -webkit-align-items: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  justify-content: inherit;
}

.responsive-block-overlay > div {
  visibility: visible;
}

@media screen and (min-width: 1025px) {
  .active-large-block-overlay .responsive-block-overlay {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .active-medium-block-overlay .responsive-block-overlay {
    visibility: visible;
  }
}

@media screen and (max-width: 767px) {
  .active-small-block-overlay .responsive-block-overlay {
    visibility: visible;
  }
}

/* ------- CUSTOM SCROLLBAR ------- */
.rex-custom-scrollbar {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.rex-custom-scrollbar .mCSB_scrollTools {
  right: 30px;
}

.rex-custom-scrollbar .mCSB_scrollTools .mCSB_draggerContainer {
  margin: 20px 0;
}

.rex-custom-scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px;
  background-color: #686868;
}

.rex-custom-scrollbar .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .rex-custom-scrollbar .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .rex-custom-scrollbar .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #454545;
}

.rex-custom-scrollbar .mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  background-color: #fbfbfb;
}

@media screen and (max-width: 767px) {
  .rex-custom-scrollbar .mCSB_scrollTools {
    right: 0px;
  }
}

/*  ----------- BACKGROUND VIDEOS ---------*/
.rex-video-section-wrap,
.rex-video-wrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  visibility: visible;
}

.rex-video-section-wrap {
  z-index: -1;
}

.rex-video-wrap + div {
  position: relative;
}

video.rex-video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.rex-video-toggle-audio {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 9px;
  right: 9px;
  display: block;
  background-image: url("../img/ic_volume_up_off_white_black.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 0 -20px;
  opacity: 0.5;
  cursor: pointer;
}

.rex-video-toggle-audio.user-has-muted {
  background-image: url("../img/ic_volume_up_off_white_black.png");
  background-position: -20px -20px;
}

.rex-video-toggle-audio.user-has-muted .rex-video-toggle-audio-shadow {
  background-image: url("../img/ic_volume_up_off_white_black.png");
  background-position: -20px 0;
}

.rex-video-toggle-audio .rex-video-toggle-audio-shadow {
  position: relative;
  display: block;
  top: -1px;
  left: -1px;
  width: inherit;
  height: inherit;
  background-image: url("../img/ic_volume_up_off_white_black.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.rex-video-vimeo-wrap {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.rex-video-vimeo-wrap.rex-video-vimeo-wrap--block + .rex-custom-scrollbar {
  position: relative;
}

.rex-video-vimeo-wrap iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .perfect-grid-gallery .grid-item-content.youtube-player,
  .perfect-grid-gallery .grid-item-content.vimeo-player,
  .perfect-grid-gallery .grid-item-content.mp4-player {
    height: 100% !important;
  }
  .grid-item-content.youtube-player:before {
    display: block;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(https://www.youtube.com/yt/brand/media/image/YouTube-icon-dark.png);
    width: 100%;
    height: 100%;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
  }
  .rex-video-wrap .rex-video-mp4-thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.rex-slider-wrap .flickity-page-dots, .rex-box-slider-wrap .flickity-page-dots {
  bottom: 30px;
}

.rex-slider-wrap .flickity-page-dots .dot, .rex-box-slider-wrap .flickity-page-dots .dot {
  width: 7%;
  max-width: 50px;
  height: 2px;
  padding: 10px 0;
  margin: 0 5px;
  border-radius: 0;
  opacity: 1;
  background: transparent;
  position: relative;
}

.rex-slider-wrap .flickity-page-dots .dot:after, .rex-box-slider-wrap .flickity-page-dots .dot:after {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 2px;
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
}

.rex-slider-wrap .flickity-page-dots .dot.is-selected:after, .rex-box-slider-wrap .flickity-page-dots .dot.is-selected:after {
  background: white;
}

.rex-slider-wrap .flickity-prev-next-button, .rex-box-slider-wrap .flickity-prev-next-button {
  box-shadow: none;
  text-shadow: none;
}

.rex-slider-wrap .flickity-prev-next-button svg, .rex-box-slider-wrap .flickity-prev-next-button svg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rex-slider-wrap .flickity-prev-next-button.previous svg, .rex-box-slider-wrap .flickity-prev-next-button.previous svg {
  transform: rotate(90deg);
  top: 5px;
  left: -15px;
}

.rex-slider-wrap .flickity-prev-next-button.next svg, .rex-box-slider-wrap .flickity-prev-next-button.next svg {
  top: -5px;
  left: 15px;
  transform: rotate(90deg);
}

.rex-slider-wrap.is-dragging .rex-slider-element, .rex-slider-wrap.is-dragging .rex-box-slider-element, .rex-box-slider-wrap.is-dragging .rex-slider-element, .rex-box-slider-wrap.is-dragging .rex-box-slider-element {
  pointer-events: none;
}

.rex-slider-wrap .flickity-prev-next-button, .rex-slider-wrap .flickity-prev-next-button:hover, .rex-box-slider-wrap .flickity-prev-next-button, .rex-box-slider-wrap .flickity-prev-next-button:hover {
  background: transparent;
}

.rex-slider-wrap .flickity-prev-next-button .arrow, .rex-slider-wrap .flickity-prev-next-button:hover .arrow, .rex-box-slider-wrap .flickity-prev-next-button .arrow, .rex-box-slider-wrap .flickity-prev-next-button:hover .arrow {
  fill: white;
}

.rex-slider-wrap {
  width: 100%;
  height: 100%;
}

.rex-slider-wrap .rex-slider-element {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.rex-slider-wrap .rex-slider-element:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  max-height: 105px;
  height: 100%;
  left: 0;
  background: rgba(34, 34, 34, 0);
  background: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.6) 190%);
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.6) 190%);
}

.rex-slider-wrap .rex-slider-element .youtube-player {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .rex-slider-wrap .rex-slider-element .youtube-player {
    background-image: none !important;
  }
}

.rex-slider-wrap .rex-slider-element .rex-video-vimeo-wrap.rex-video-vimeo-wrap--block {
  z-index: 1;
}

.rex-slider-wrap .rex-slider-element .rex-video-toggle-audio {
  z-index: 10;
}

.rex-slider-wrap .rex-slider-element-link {
  display: block;
  height: 100%;
  position: relative;
  z-index: 10;
}

.rex-slider-wrap .rex-slider-element-title {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  padding: 0 60px;
  z-index: 10;
}

.rex-slider-wrap .rex-slider-element-title a {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.rex-slider-wrap .rex-slider-element-title a:hover {
  color: inherit;
}

.rex-box-slider-wrap {
  height: 485px;
}

.rex-box-slider-wrap .rex-box-slider-element {
  width: 250px;
  height: 400px;
  background-color: #ffffff;
  margin: 10px;
}

.rex-box-slider-wrap .news-block .news-block-media {
  height: 50%;
}

.rex-box-slider-wrap .news-block .grid-item-content {
  height: 50%;
}

.rex-box-slider-wrap .flickity-page-dots {
  bottom: 21px;
}

.rex-box-slider-wrap .flickity-page-dots .dot {
  width: 2%;
}

.rex-box-slider-wrap .flickity-page-dots .dot:after {
  background: rgba(0, 0, 0, 0.2);
}

.rex-box-slider-wrap .flickity-page-dots .dot.is-selected:after {
  background: #333;
}

@media screen and (max-width: 767px) {
  .rex-box-slider-wrap {
    height: 400px;
  }
  .rex-box-slider-wrap .rex-box-slider-element {
    width: 200px;
    height: 350px;
  }
  .rex-box-slider-wrap .flickity-prev-next-button {
    display: none;
  }
  .rex-box-slider-wrap .flickity-page-dots {
    bottom: 4px;
  }
  .rex-box-slider-wrap .flickity-page-dots .dot {
    width: 4%;
  }
}

@media screen and (min-width: 768px) {
  .rex-box-slider-wrap {
    margin: 0 80px;
  }
  .rex-box-slider-wrap .flickity-prev-next-button {
    width: 38px;
    height: 38px;
    top: calc(50% - 32px);
  }
  .rex-box-slider-wrap .flickity-prev-next-button.previous {
    left: -45px;
  }
  .rex-box-slider-wrap .flickity-prev-next-button.previous svg {
    top: 5px;
    left: -13px;
  }
  .rex-box-slider-wrap .flickity-prev-next-button.next {
    right: -45px;
  }
  .rex-box-slider-wrap .flickity-prev-next-button.next svg {
    top: -5px;
    left: 13px;
  }
  .rex-box-slider-wrap .flickity-prev-next-button .arrow {
    fill: #333;
  }
  .rex-box-slider-wrap .flickity-prev-next-button:hover .arrow {
    fill: #333;
  }
}

@media screen and (max-width: 767px) {
  .full-height-section .perfect-grid-item.block-has-slider .rex-slider-wrap {
    min-height: 100vh;
  }
  .full-height-section .perfect-grid-item.block-has-slider .rex-slider-wrap .flickity-viewport {
    min-height: 100vh;
  }
}

.block-has-slider p {
  margin: 0 !important;
}

.block-has-slider .rex-custom-scrollbar, .block-has-slider .text-wrap {
  height: 100%;
}

.full-height-section .block-has-slider .mCSB_container {
  height: inherit;
}

/* ---------- Photoswipe ---------- */
.pswp {
  z-index: 3000;
}

.pswp-figure {
  height: 100%;
  margin: 0;
}

.pswp-item {
  height: 100%;
  display: block;
}

a.pswp-item {
  box-shadow: none !important;
}

a.pswp-item:hover {
  box-shadow: none !important;
}

a.pswp-item:hover img {
  box-shadow: none !important;
}

a.pswp-item img {
  box-shadow: none !important;
}

.pswp-item-thumb {
  visibility: hidden;
}

.pswp-item-caption {
  display: none;
}

.pswp__caption {
  display: none;
}

/* --------- Vertical Navigation ------- */
#rex-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2500;
}

#rex-vertical-nav ul {
  list-style-type: none;
}

#rex-vertical-nav li {
  text-align: right;
}

#rex-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

#rex-vertical-nav a:focus {
  outline: none;
}

#rex-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#rex-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

#rex-vertical-nav a.is-selected .rex-dot {
  background-color: #fff;
}

#rex-vertical-nav a.is-selected .rex-dot:before {
  background-color: rgba(0, 0, 0, 0.1);
}

#rex-vertical-nav .rex-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  box-shadow: 0 1px 3px transparent, 0 1px 2px transparent;
}

#rex-vertical-nav .rex-dot:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  display: block;
  width: 22px;
  height: 22px;
  top: -3px;
  left: -3px;
  background-color: transparent;
  border: 1px solid #777;
}

#rex-vertical-nav .rex-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #777;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.no-touch #rex-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.no-touch #rex-vertical-nav a:hover .rex-label {
  opacity: 1;
}

.no-touch #rex-vertical-nav a:hover .rex-dot {
  background-color: #fff;
}

.no-touch #rex-vertical-nav a:hover .rex-dot:before {
  background-color: rgba(0, 0, 0, 0.1);
}

.touch #rex-vertical-nav a .rex-label.fadeInAndOut {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.touch .vertical-nav,
.no-touch .vertical-nav {
  position: fixed;
  right: 10px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 2000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 1.2s;
}

@media screen and (max-width: 767px) {
  .touch .vertical-nav,
  .no-touch .vertical-nav {
    display: none;
  }
}

.touch .vertical-nav ul,
.no-touch .vertical-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.touch .vertical-nav.hide,
.no-touch .vertical-nav.hide {
  opacity: 0;
  visibility: hidden;
}

.touch .vertical-nav li,
.no-touch .vertical-nav li {
  text-align: right;
  height: 1.5em;
  list-style-type: none;
}

.touch .vertical-nav a,
.no-touch .vertical-nav a {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: default;
}

.touch .vertical-nav a:after,
.no-touch .vertical-nav a:after {
  clear: both;
  content: "";
  display: table;
}

.touch .vertical-nav a:focus, .touch .vertical-nav a:active,
.no-touch .vertical-nav a:focus,
.no-touch .vertical-nav a:active {
  outline: none;
}

.touch .vertical-nav a .dot-cont,
.no-touch .vertical-nav a .dot-cont {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  display: inline-block;
  text-align: center;
}

.touch .vertical-nav a:hover .label,
.no-touch .vertical-nav a:hover .label {
  display: inline;
  opacity: 1;
}

.touch .vertical-nav a.is-selected .dot,
.no-touch .vertical-nav a.is-selected .dot {
  background-color: #ffffff;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.touch .vertical-nav a span.dot-cont:hover .dot,
.no-touch .vertical-nav a span.dot-cont:hover .dot {
  background-color: #ffffff;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.touch .vertical-nav a .dot,
.no-touch .vertical-nav a .dot {
  -webkit-transition: transform 100ms ease-out;
  -moz-transition: transform 100ms ease-out;
  -o-transition: transform 100ms ease-out;
  transition: transform 100ms ease-out;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  -webkit-backface-visibility: visible;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.touch .vertical-nav a .label,
.no-touch .vertical-nav a .label {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 2px;
  white-space: nowrap;
  padding: 6px 10px;
  position: relative;
  margin-right: 5px;
  color: #fff;
  display: none;
  top: 2px;
  border-radius: 1px;
  font-weight: 600;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: opacity 100ms ease-out;
  -moz-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
}

.touch .vertical-nav a .label:after,
.no-touch .vertical-nav a .label:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 50%;
  right: -5px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: inherit;
}

.touch .vertical-nav a .label.white-black,
.no-touch .vertical-nav a .label.white-black {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

@media screen and (max-width: 767px) {
  .touch .vertical-nav {
    display: none;
  }
}

.navigate-section {
  width: 100%;
}
