.tool-button--big {
  border-radius: 25px;
  transition: box-shadow 0.3s ease-out;

  @include bl-btn;

  // &:hover {
    box-shadow: $main-shadow;
  // }

  &.tool-button--inline {
    display: inline-block;
  }
}

.tool-button {
  display: block;
  border-radius: 50%;
  overflow: visible;
  visibility: visible;
  z-index: 30;
  padding: 5px;
  cursor: pointer;
  // position: relative;
  line-height: 1;
  // transition: opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s ease-out;

  &.tool-button--inline {
    display: inline-block;
  }
  
  box-shadow: $main-shadow;
  
  @include bl-btn;

  &:hover {
    @include bl-btn--hover;
  }

  &.active {
    @include bl-btn--hover;
  }

  &.tool-button--black {
    @include bl-btn--black;
  }

  &.tool-button--flat {
    box-shadow: none;
    padding: 0 5px;
    @include bl-btn-flat;
    &:hover {
      @include bl-btn-flat--hover;
    }
  }

  &.tool-button--empty {
    min-width: 26px;
    min-height: 26px;
  }

  &.tool-button--color {
    background-image: url(../img/colors-hd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    &.sp-replacer {
      position: static;
    }

    .sp-preview {
      display: none;
      // background-image: none;
      // width: 100%;
      // height: 100%;
      // margin: 0;
      // border: none;
    }

    // .sp-preview-inner {
    //   top: -1px;
    //   right: -1px;
    //   bottom: -1px;
    //   left: -1px;
    // }

    .sp-dd {
      display: none;
    }
  }

  &.tool-button--close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
  }
}

.tool-button--double-icon--wrap {
  position: relative;
  display: inline-block;
}

.tool-button--double-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
}

.tool-button-floating {
  // > .tool-button {
  position: relative;
  display: inline-block;
  &:hover {
    .tool-button_list {
      z-index: 10000;
      .tool-button {
        opacity: 1;
        transform: scale(1) translateY(0) translateX(0);
      }
    }
  }
  // }
}

.tool-button_list {
  position: absolute;
  z-index: -10000;
  top: 100%;
  .tool-button {
    transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px);
    opacity: 0;
  }
}
