.bl_d-iblock {
  display: inline-block;
}

.bl_d-flex {
  display: flex;
}
.rexbutton-count-column_6 .bl_d-flex {
  position: relative;
}

.rexelement-count-column_6 .bl_d-flex {
  position: relative;
}

.bl_d-iflex {
  display: inline-flex;
}

.bl_col-6 {
  width: 50%;
}

.bl_jc-c {
  justify-content: center;
}

.bl_jc-sb {
  justify-content: space-between;
}

.bl_jc-fe {
  justify-content: flex-end;
}

.bl_ai-c {
  align-items: center;
}

.bl_ai-fe {
  align-items: flex-end;
}