.l-svg-icons {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: $icon-base-color;
  vertical-align: -0.1em;
}

.l-svg-icons > svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: $icon-base-color;
  vertical-align: -0.1em;
}
