.l-svg-icons {
  display: inline-block;
  width: 1em;
  height: 1em;
  // fill: $icon-base-color;
  vertical-align: -0.1em;
  line-height: 1;

  > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: $icon-base-color;
    vertical-align: -0.1em;
    transition: fill 600ms ease-out;
  }

  &.inline-icon {
    height: auto;
    line-height: 0;
    vertical-align: baseline;
    > svg {
      height: auto;
      vertical-align: baseline;
    }
  }
}

.l-icon--white {
  @include fill-icon(#fff);
}

.l-svg-icons {
  &.drop-down-icon {
    transform: rotate(180deg);
  }
}