@mixin item {
  padding: 0 20px;
  height: 100%;
}

@mixin fill-icon( $color ) {
  // .l-svg-icons,
  .l-svg-icons > svg {
    fill: $color;
    // stroke: $btn-base-color;
  }
}

// Buttons mixins
@mixin bl-btn {
  background-color: $btn-base-background;
  color: $btn-base-color;

  @include fill-icon($btn-base-color);
}

@mixin bl-btn-flat {
  background-color: transparent;
  color: #fff;
  @include fill-icon(#fff);
}

@mixin bl-btn--hover {
  background-color: $btn-hover-background;
  color: $btn-hover-color;

  @include fill-icon($btn-hover-color);
}

@mixin bl-btn-flat--hover {
  background-color: transparent;
  color: #fff;

  @include fill-icon(#fff);
}

@mixin bl-btn--active {
  background-color: $btn-active-background;
  color: $btn-active-color;

  @include fill-icon($btn-active-color);
}

@mixin bl-btn--black {
  background-color: #000;
  color: #fff;

  @include fill-icon(#fff);
}

@mixin bl-btn--hover-shadow {
  box-shadow: none;
  transition: box-shadow 300ms;
  &:hover {
    box-shadow: $main-shadow;
  }
}

// Tools mixins
@mixin generic-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin live-fonts {
  font-family: 'Roboto', sans-serif;
}