@mixin item {
  padding: 0 20px;
  height: 100%;
}

@mixin fill-icon( $color ) {
  // .l-svg-icons,
  .l-svg-icons > svg {
    fill: $color;
    // stroke: $btn-base-color;
  }
}

// Buttons mixins
@mixin bl-btn {
  background-color: $btn-base-background;
  color: $btn-base-color;

  @include fill-icon($btn-base-color);
}

@mixin bl-btn-flat {
  background-color: transparent;
  color: #fff;
  @include fill-icon(#fff);
}

@mixin bl-btn--hover {
  background-color: $btn-hover-background;
  color: $btn-hover-color;

  @include fill-icon($btn-hover-color);
}

@mixin bl-btn-flat--hover {
  background-color: transparent;
  color: #fff;

  @include fill-icon(#fff);
}

@mixin bl-btn--active {
  background-color: $btn-active-background;
  color: $btn-active-color;

  @include fill-icon($btn-active-color);
}

@mixin bl-btn--black {
  background-color: #000;
  color: #fff;

  @include fill-icon(#fff);
}

@mixin bl-btn--hover-shadow {
  box-shadow: $shadow-1;
  transition: box-shadow 300ms;
  &:hover {
    box-shadow: $shadow-2;
  }
}

@mixin bl-btn--add-big {
  padding: 10px;
  background-color: transparent;
  @include fill-icon($palette-color-1);
  border: 2px solid $palette-color-1;
  &:hover {
    @include fill-icon($palette-color-1);
  }
}

@mixin bl-btn--add-mdm {
  padding: 5px;
  background-color: transparent;
  @include fill-icon($palette-color-1);
  border: 2px solid $palette-color-1;
  &:hover {
    @include fill-icon($palette-color-1);
  }
}

@mixin bl-btn--add-small {
  padding: 3px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  &:hover {
    border-color: $palette-color-1;
  }
}

// Tools mixins
@mixin generic-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin live-fonts {
  font-family: 'Roboto', sans-serif;
}

@mixin page-edited-ui {
  position: relative;
  .btn-save--edited {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    @include fill-icon($palette-color-2);
    &:hover {
      @include fill-icon(#000);
    }
  }
  .btn-save--saved {
    display: inline-block;
    visibility: visible;
    @include fill-icon($palette-color-1);
  }
  &.page-edited {
    .btn-save--edited {
      visibility: visible;
    }
    .btn-save--saved {
      visibility: hidden;
    }
  }
  .setting-edited & {
    .btn-save--edited {
      visibility: visible;
    }
    .btn-save--saved {
      visibility: hidden;
    }
  }
  .setting-saving & {
    // .btn-save--edited {
    //   animation: scale-out-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    // }
    .btn-save--saved {
      visibility: visible;
      animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}