.palette-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $palette-color-4;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.palette-item__delete {
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 3px;
  line-height: 4px;
  #{$icon-class} {
    font-size: 8px!important;
  }
}