
//background palette colors
$palette-blue:rgba(33, 150, 243, 1);
$palette-green:rgba(139, 195, 74, 1);
$palette-black:rgba(0, 0, 0, 1);
$palette-red:rgba(244, 67, 54, 1);
$palette-orange:rgba(255, 152, 0, 1);
$palette-purple:rgba(156, 39, 176, 1);
$palette-transparent:rgba(255, 255, 255, 0);

//background palette colors
$overlay-palette-blue:rgba(33, 150, 243, 0.6);
$overlay-palette-green:rgba(139, 195, 74, 0.6);
$overlay-palette-black:rgba(0, 0, 0, 0.6);
$overlay-palette-red:rgba(244, 67, 54, 0.6);
$overlay-palette-orange:rgba(255, 152, 0, 0.6);
$overlay-palette-purple:rgba(156, 39, 176, 0.6);
$overlay-palette-transparent:rgba(255, 255, 255, 0);

// shadow
$main-shadow: 0px 5px 20px rgba(0, 0, 0, 0.45);

//icons
$icon-base-color: #000000;
$icon-hover-color: #979797;
$icon-active-color: #00ACFF;
$icon-deactive-color: #979797;

// buttons
$btn-base-color: #979797;
$btn-base-background: #fff;
$btn-hover-color: #fff;
$btn-hover-background: #00ACFF;
$btn-active-color: #00ACFF;
$btn-active-background: #fff;

// Classes
$row-focused: '.focused';

// Modals
$modal-background-color: #fafafa;