.rexlive-toolbox__wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 300ms;
  z-index: 10;
}

.rexlive-toolbox {
  background-color: white;
  width: 100%;
  height: $top-tools-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.45);
}

.rexlive-toolbox__toggle-wrap {
  background-color: white;
  height: $top-tools-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.rexlive-toolbox__toggle-wrap {
  transition: box-shadow 300ms;
}

.close-toolbox {
  @include fill-icon(#979797);
  transition: transform 300ms
}

.toolbox--closed {
  .rexlive-toolbox__toggle-wrap {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.45);
  }
  .close-toolbox {
    transform: rotate(180deg);
  }
  .rexlive-toolbox__wrap {
      transform: translateY(-100%);
  }
}

.tools-container-left {
  left: 0;
  width: 15%;
}

.tools-container-right {
  right: 0;
  width: 15%;
}

.tools-container-middle {
  width: 70%;
  text-align: center;
}

.toolbox-insert-area {
  background-color: $palette-color-1;
  padding: 0 10px;
  border-radius: 15px;
  > .tool-button {
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    &:not(:last-child) {
      border-right: 1px solid rgba(255,255,255,0.3);
    }
  }
}

.left-tools{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.middle-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

//@include item
.layout-container, .tool-option {
  cursor: pointer;
  padding: 0 20px;
  height: 100%;
}

.tool-option {
  @include fill-icon(#000);
  &:hover {
    color: $palette-color-1;
    @include fill-icon($palette-color-1);
    // .builder-add-custom-layout {
    //   border-color: $palette-color-1;
    // }
  }
}

.tool-option--placeholder {
  width: 60px;
  visibility: hidden;
}

.rexlive-toolbox .l-svg-icons{
  font-size: 20px;
}

.btn-save {  
  @include page-edited-ui();
  padding: 0 10px;
  margin-right: 10px;
  .l-svg-icons{
    font-size: 30px;
  }
  .btn-save--edited {
    left: 10px;
  }
  &.rex-saving {
    .btn-save--edited {
      animation: scale-out-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .btn-save--saved {
      visibility: visible;
      animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.2s;
    }
  }
}

.tool-option {
  &.btn-undo,
  &.btn-redo {
    @include fill-icon($palette-color-2);
    &:hover {
      @include fill-icon($palette-color-1);
    }
  }
}

.btn-undo--active {
  .tool-option {
    &.btn-undo {
      @include fill-icon(#000);
    }
  }
}

.btn-redo--active {
  .tool-option {
    &.btn-redo {
      @include fill-icon(#000);
    }
  }
}

.btn-undo{
  border-right-color: #D6D6D6;
  border-right-style: solid;
  border-right-width: 1px;
}

.btn-builder-layout[data-layout-type="custom"]{  
  position: relative;
}

.layout-custom-number {
  // color: #000;
  @include live-fonts();
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  width: 100%;
  bottom: 21px;
  left: 0;
}

.rexlive-toolbox {
  .builder-add-custom-layout {
    padding: 3px;
    .l-svg-icons {
      font-size: 11px;
    }
  }
}

.rex-number{
  text-align: center;
}

.btn-builder-layout{
  // @include fill-icon(#000);
  &.active-layout {
    @include fill-icon($icon-active-color);
  }
}

// .btn-builder-layout:hover:not(.active-layout){
//   @include fill-icon($icon-hover-color);
// }