.rexlive-toolbox {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.tools-container-left {
  left: 0;
  width: 15%;
}

.tools-container-right {
  right: 0;
  width: 15%;
}

.tools-container-middle {
  width: 70%;
}

.left-tools{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.middle-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

//@include item
.layout-container, .tool-option {
  cursor: pointer;
  padding: 0 20px;
  height: 100%;

}

.rexlive-toolbox .l-svg-icons{
  font-size: 30px;
}

.btn-save {
  font-size: 30px;
  @include fill-icon(#00acff);
  // .l-svg-icons{
  //   fill: #00acff;
  //   > svg {
  //     fill: #00acff;
  //   }
  // }
  &.page-edited{
    @include fill-icon(#979797);
    // .l-svg-icons{
    //   fill: #979797;
    //   > svg {
    //     fill: #979797;
    //   }
    // }
/*     
    &.rex-saving {
    } 
*/
  }
}

.builder-add-custom-layout .l-svg-icons{
  font-size: 16px;
}

.btn-undo, .btn-redo{
  .l-svg-icons{
    font-size: 20px;
  }
}

.btn-undo{
  border-right-color: #D6D6D6;
  border-right-style: solid;
  border-right-width: 1px;
}

.btn-custom-css .l-svg-icons{
  font-size: 25px;
}

.btn-builder-layout[data-layout-type="custom"]{  
  position: relative;
  .l-svg-icons{
    font-size: 25px;
  }
}

.btn-builder-layout[data-name="mobile"]{  
  .l-svg-icons{
    font-size: 26px;
  }
}
.btn-builder-layout[data-name="tablet"]{  
  .l-svg-icons{
    font-size: 26px;
  }
}
.btn-builder-layout[data-name="default"]{  
  .l-svg-icons{
    font-size: 25px;
  }
}

.layout-custom-number{
  color: #979797;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  width: 100%;
  bottom: 26px;
  left: 0;
}
.rex-number{
  text-align: center;
}

.close-toolbox {
  @include fill-icon(#979797);
  .l-svg-icons{
    font-size: 15px;
    // fill: #979797;
    // > svg {
    //   fill: #979797;
    // }
  }
}


.btn-builder-layout{
  @include fill-icon($icon-base-color);
  &.active-layout {
    @include fill-icon($icon-active-color);
  }
}

.btn-builder-layout:hover:not(.active-layout){
  @include fill-icon($icon-hover-color);
}