.timeline-wrap {
  margin: 0 auto;
  display: inline-block;
  width: 50%; 
  max-width:370px;
}

.timeline-wrap--title-wrap {
  text-align: left;
}

.timeline-wrap--title {
  display: inline-block;
  transform: translateX(-50%);
}

/* Timeline */
.timeline {
  margin: 0;
  position: relative;
  padding: 0;
  list-style: none;
  text-align: left;
  // max-width: 320px;
  
  .event {
    padding-top: 25px;
    padding-bottom: 0px;
    position: relative;
    list-style-type: none;

    &:first-of-type {
      padding-top: 40px;
      .event-dot {
        top:0;
      }
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;

      .event-line {
        bottom: calc(100% - 72px);
      }
    }

  }

  .event-line {
    content:"";
    width:1px;
    height:auto;
    left:0;
    top:0;
    bottom:0;
    background-color:#000;
    position: absolute;
    display: block;
    top: 0;
  }

  .event-dot {
    left: -5px;
    background-color: #000;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 72px;
    position: absolute;
    display: block;
  }

  .event-title,
  .event-content {
    position:relative;
    padding: 0 50px;
  }
}

@media screen and (max-width:767px) {
  .timeline {
    .event-title,
    .event-content {
      padding: 0 25px;
    }
  }
}