@mixin fill-icon( $color ) {
  // .l-svg-icons,
  .l-svg-icons > svg {
    fill: $color;
    // stroke: $btn-base-color;
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}