/* -------------- TYPOGRAPHY ------------- */
.perfect-grid-item {
	.text-wrap {
		p:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}
.grid-item-content .text-wrap p {
	line-height: 1.3;
}
.grid-item-content .text-wrap h4,
// .grid-item-content .text-wrap h5,
// .grid-item-content .text-wrap h6 
{
	line-height: 1.3;
	margin-bottom: 1em;
}