.layout {
  // display: flex;
  // justify-content: space-around;
  &.active-on-page {
    background-color: lightblue;
  }

  margin: 0;

  @include fill-icon(#000);

  .dashicons, 
  .dashicons-before:before {
    width: 16px;
    height: 16px;
    font-size: 16px; 
  }
}

.layout__list {
  display: table;
  border-collapse: collapse; 
  border-top: 1px solid $palette-color-2;
  width: 100%;
  margin: 0;
}

.layout__item {
  display: table-row;
  vertical-align: middle;
  border-bottom: 1px solid $palette-color-2;
  .layout__setting {
    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }
  }
}

.layout__setting {
  text-align: right;
  display: table-cell;
  padding: 10px;
}

.rexlive-layout--edit,
.rexlive-layout--delete {
  cursor: pointer;
}

.hide-icon {
  display: none;
}

.layout__item.editing .layout-value {
  display: none;
}

.layout__item {
  input {
    max-width: 45px;
  }
  .removing-item {
    display: none;
  }
}

// #rexlive-custom-layout-modal .rex-cancel-button {
//   width: 100%;
// }
