.rex-modal {
  max-height: none;
  max-width: 405px;

  // @include fill-icon($icon-deactive-color);
  border: 2px solid #000;

  .l-svg-icons {
    font-size: 20px;
  }
}

.bl_input-indicator {
  font-size: 10px;
  text-transform: uppercase;
}

.prefix {
  &.active {
    @include bl-btn--active;
  }
}

body.rexpansive-editor {
  .lean-overlay {
    display: none;
    background-color: transparent;
  }
}