.bl_modal-row {
  padding: 0 12px;
  display: flex;
  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  // margin-bottom: 15px;
}
  // Apply borderBottom when accordion row is in button editor.
#rex-button-editor .rex-accordion--content{border-bottom: 1px solid #ddd;}

  /* BUTTON EDITOR - CSS Row 1-2-3-4-5-6 */
.bl_modal-row .rexbutton-cont_row10{
  width:381px;
  margin:12px auto;
}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-colum_accord{
  width:30px;
  height:42px;
  margin-right:12px;
  float:left;
  position:relative;
}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-colum_accord .rexbutton-upd-accord_button{
  width:30px;
  height:42px;
  position:absolute;
  top:0;left:0;
  text-align:center;
  font-size:34px;
  padding:12px 0px 0px 0px;
  color:#979797;
}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-colum_accord .rexbutton-upd-accord_button:hover{color:#00ACFF;transition:1s;}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-column_1{
  width:42px;
  height:42px;
  margin-right:12px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-column_2{
  width:181px;
  height:42px;
  margin-right:12px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-column_3{
  width:20px;
  height:42px;
  margin-right:6px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-column_4{
  width:40px;
  height:42px;
  margin-right:6px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row10 .rexbutton-count-column_5{
  width:20px;
  height:42px;
  float:left;
  padding:14px 0px 0px 0px;
  box-sizing:border-box;
  text-transform:uppercase;
  font-weight:bold;
}
.bl_modal-row  .rexbutton-cont_row10 .rexbutton-upd-textbox{
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  /*padding:8px 0px 0px 0px;*/
  height: 41px;
  width: 100%;
  font-size: 1rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align:center;
  /*box-sizing:border-box;*/
}
.bl_modal-row  .rexbutton-cont_row10 .rexbutton-count-column_2 .rexbutton-upd-textbox{text-align:left;}

  /* BUTTON EDITOR - CSS Row 7 */
.bl_modal-row .rexbutton-cont_row23{width:381px;}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_6{
  width:139px;
  height:124px;
  padding-right:12px;
  border-right:1px solid #ddd;
  float:left;
  text-align:center;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_6 .rexbutton-contbox-align_editor{
  width:42px;
  height:42px;
  padding:12px 0px 0px 0px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_6 .rexbutton-contbox-align_editor:hover{background-color:lightgray;}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_7{
  width:95px;
  height:124px;
  padding:0px 12px 0px 12px;
  border-right:1px solid #ddd;
  float:left;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_7 .rexbutton-border-radius-contBox{
  width:50%;
  height:42px;
  float:left;
  background-color:red;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_8{
  width:147px;
  height:124px;
  padding:12px 0px 12px 12px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_8 .subRow8_1{
  width:135px;
  height:30px;
  float:left;
  margin:0px 0px 6px 0px;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_8 .subRow8_2{
  width:135px;
  height:30px;
  float:left;
  margin:0px 0px 6px 0px;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_8 .subRow8_3{
  width:135px;
  height:30px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_8 .subColum1{
  width:41px;
  height:30px;
  margin:auto;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_8 .subColum2{
  width:41px;
  height:30px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_8 .subColum3{
  width:41px;
  height:30px;
  margin:0px 6px 0px 6px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row23 .rexbutton-count-column_aligner{
  width:100%;
  height:42px;
  margin:41px 0px 41px 0px;
}
.bl_modal-row  .rexbutton-cont_row23 .rexbutton-upd-textbox{
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  /*padding:8px 0px 0px 0px;*/
  height: 41px;
  width: 50%;
  font-size: 1rem;
  text-align:center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
}
.bl_modal-row  .rexbutton-cont_row23 .rexbutton-upd-small_textbox{
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  /*padding:8px 0px 0px 0px;*/
  height: 29px;
  width: 100%;
  font-size: 1rem;
  text-align:center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
}

/* BUTTON EDITOR - CSS Row 8 */
.bl_modal-row .rexbutton-cont_row45{width:381px;}
.bl_modal-row .rexbutton-cont_row45 .rexbutton-count-column_9{
  width:234px;
  height:66px;
  padding:12px 12px 12px 0px;
  border-right:1px solid #ddd;
  float:left;
  text-align:center;
}
.bl_modal-row .rexbutton-cont_row45 .rexbutton-count-column_10{
  width:135px;
  height:42px;
  margin:12px 0px 12px 12px;
  float:left;
}
.bl_modal-row  .rexbutton-cont_row45 .rexbutton-upd-combobox{height:42px;padding:9px 15px 7px 15px;}
.bl_modal-row  .rexbutton-cont_row45 .rexbutton-upd-textbox_resize{height:42px;}
.bl_modal-row  .rexbutton-cont_row45 .active{padding-top:2px;height:40px;}
.rex-modal .rexbutton-cont_row45 .input-field.rex-input-prefixed .prefix ~ input {
  width:100%;
  font-size:15px;
  line-height:15px;
  height:41px;
  margin:0px;
}
.rex-modal .rexbutton-cont_row45 .rex-material-bar {
  position: absolute;
  right: 0;
  bottom: 1px;
}
.rex-modal .rexbutton-cont_row45 .input-field.rex-input-prefixed .prefix ~ label {
  margin: 12px 0px 0px 0px;
  font-size: 15px;
  top: 0px;
}
.rex-modal .rexbutton-cont_row45 .input-field.rex-input-prefixed .prefix ~ label.active{
  -webkit-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px);
}
  /* BUTTON EDITOR - CSS Row 9 */
.bl_modal-row .rexbutton-cont_row77{
  width:381px;
  height:42px;
  margin:12px auto 24px auto;
}
.bl_modal-row .rexbutton-cont_row77 .rexbutton-count-column_11{
  width:339px;
  height:42px;
  float:left;
}
.bl_modal-row .rexbutton-cont_row77 .rexbutton-count-column_12{
  width:30px;
  height:42px;
  margin-left:12px;
  float:left;
}
.rex-modal .rexbutton-cont_row77 .input-field.rex-input-prefixed .prefix ~ input {
  width:100%;
  font-size:15px;
  line-height:15px;
  height:41px;
  margin:0px;
}
.rex-modal .rexbutton-cont_row77 .rex-material-bar {
  position: absolute;
  right: 0;
  bottom: 1px;
}
.rex-modal .rexbutton-cont_row77 .input-field.rex-input-prefixed .prefix ~ label {
  margin: 12px 0px 0px 0px;
  font-size: 15px;
  top: 0px;
}
.rex-modal .rexbutton-cont_row77 .input-field.rex-input-prefixed .prefix ~ label.active{
  -webkit-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px);
}





.bl_modal__single-option {
  // display: inline-block;
  &:not(:last-child) {
    // padding-right: 20px;
    padding-right: 12px;
  }
}

.rex-modal .rex-input-prefixed.input-field.bl_modal__input-prefixed--small {
  max-width: 120px;
  margin-right: 12px;
}

.bl_modal__single-option--vertical {
  margin: 24px 0;
}

.bl_modal__option-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  &:not(:last-child) {
    border-right: 1px solid #ddd;
  }
  &.bl_modal__option-wrap--no-border {
    border-right: none;
  }
  &.bl_modal__option-wrap--fluid {
    width: auto;
  }
}

.radio-group__wrap {
  font-size: 0;
}

.small-input {
  font-size: 11px;
}

.bl_modal__col-4 {
  width: 33.3333%;
}

.rex-modal {
  max-height: none;
  max-width: 405px;
  @include live-fonts();

  // @include fill-icon($icon-deactive-color);
  // border: 2px solid #000;
  box-shadow: $modal-shadow;

  .l-svg-icons {
    font-size: 20px;
  }

  .tool-button{
    &.tool-button--close {
      .l-svg-icons {
        font-size: 13px;
      }
    }
  }

  .input-field {
    width: 100%;
  }

}

.bl_input-indicator {
  font-size: 10px;
  text-transform: uppercase;
}

.prefix {
  &.active {
    @include bl-btn--active;
  }
}

body.rexpansive-editor {
  .lean-overlay {
    display: none;
    background-color: transparent;
  }
}

.rex-modal__outside-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .tool-button {
    margin: 0 10px;
  }

  .tool-button--save {
    padding: 0;
    background-color: transparent;
    @include page-edited-ui();

    @include fill-icon($palette-color-1);
    .l-svg-icons {
      font-size: 30px;
    }
    &:hover {
      @include fill-icon($palette-color-1);
    }
  }
}

.sp-container {
  .rex-modal__outside-footer {
    .tool-button--save {
      background-color: #fff;
    }
  }
}

.rex-modal__top-arrow__wrap {
  position: absolute;
  width: 100%;
  bottom: 100%;
  display: none;
}

.rex-modal__top-arrow {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $palette-color-7;
  margin: 0 auto;
}

.rex-modal__bottom-arrow__wrap {
  position: absolute;
  width: 100%;
  top: 100%;
  display: none;
}

.rex-modal__bottom-arrow--active {
  .rex-modal__bottom-arrow__wrap {
    display: block;
  }
}

.rex-modal__top-arrow--active {
  .rex-modal__top-arrow__wrap {
    display: block;
  }
}

.rex-modal__bottom-arrow {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $palette-color-7;
  margin: 0 auto;
}

.bl_modal__option-fixed-width {
  width: 60px;
  text-align: center;
}

.modal-info--highlight {
  text-transform: uppercase;
}