.rex-modal {
  max-height: none;
  max-width: 405px;

  // @include fill-icon($icon-deactive-color);

  .l-svg-icons {
    font-size: 20px;
  }
}

.bl_input-indicator {
  font-size: 10px;
  text-transform: uppercase;
}

.prefix {
  &.active {
    @include bl-btn--active;
  }
}