#rex-wpcf7-form-editor {
  .row-hidden {
    display: none;
  }

  .posrel {
    position: relative;
  }

  .wpcf7-modal-color-picker-overlay {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 10;

    .l-svg-icons {
      font-size: 42px;

      & > svg {
        background-color: transparent!important;
        fill: $palette-color-4;
      }
    }
  }

  .modal-accordion-title {
    width: 71px;
    margin-left: 12px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 2px;
  }

  .rexpansive-accordion-outer {
    .rex-accordion-outer--toggle {
      cursor: pointer;

      .rex-wpcf7-accordion-outer-plus-wrap {
        position: absolute;
        left: 16px;
        right: 0;
        width: 20px;
        height: 20px;
      }

      .rex-wpcf7-title-icon {
        .l-svg-icons {
          width: 30px;
          height: 30px;
        }

        .l-svg-icons > svg {
          transform: rotate(0deg);
          font-size: 30px;
        }
      }
    }

    &.open {
      .rex-accordion-outer--toggle {
        .rex-wpcf7-accordion-outer-plus-wrap {
          position: absolute;
          left: 14px;
          right: 0;
          width: 20px;
          height: 20px;

          .l-svg-icons > svg {
            transform: rotate(45deg);
            width: 20px !important;
            height: 20px !important;
          }
        }

        .rex-wpcf7-title-icon {
          .l-svg-icons {
            width: 30px;
            height: 30px;
          }

          .l-svg-icons > svg {
            transform: rotate(0deg);
            font-size: 30px;
          }
        }
      }
    }

    .rex-accordion-outer--content {
      .rex-accordion-outer--toggle:hover {
        cursor: pointer;
      }
    }
  }

  .rex-accordion {
    .rex-accordion--toggle {
      .l-svg-icons > svg {
        cursor:pointer;
      }
    }

    &.open {
      .rex-accordion--toggle {
        .l-svg-icons > svg {
          transform: rotate(45deg);
          width:20px !important;
          height:20px !important;
        }
      }

      .rex-wpcf7-accordion-plus-wrap {
        margin-left: 2px;
        margin-right: 2px;
      }
    }

    .rex-accordion--content {
      border-bottom: 1px solid #ddd;

      .rex-accordion--toggle:hover {
        cursor: pointer;
      }

      &.modal-row-default {
        background-color: #FFF;

        .l-svg-icons > svg {
          background-color: #FFF;
        }
      }
    }
  }

  .rex-input-prefixed {
    label {
      padding-left: 4px;
    }
  }

  .modal-row-grey {
    background-color: $palette-color-6;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    .active,
    .l-svg-icons > svg {
      background-color: $palette-color-6;
    }
  }

  .bl_modal-row .rexwpcf7-cont_row {
    width:381px;
    margin:12px auto;

    .rexwpcf7-count-column_accord {
      width: 30px;
      height: 42px;
      margin-right: 12px;
      float: left;
      position: relative;

      .rexwpcf7-upd-accord_button {
        width: 30px;
        height: 42px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 34px;
        padding: 7px 0px 0px 2px;
        color: #979797;

        &:hover {
          color: #00ACFF;
          transition: 1s;
        }
      }
    }

    .rexwpcf7-count-column_whole {
      width: 381px;
      height: 42px;
      float: left;

      .l-svg-icons > svg {
        cursor: default;
      }
    }

    .rexwpcf7-count-column_2{
      width:181px;
      height:42px;
      margin-right:12px;
      float:left;
    }

    .rexwpcf7-count-column_3{
      width:20px;
      height:42px;
      margin-right:6px;
      float:left;
    }

    .rexwpcf7-count-column_4{
      width:40px;
      height:42px;
      margin-right:2px;
      float:left;
      padding:11px 0px 10px 0px;
    }

    .rexwpcf7-count-column_5{
      float: left;
      width: 20px;
      height: 42px;
      box-sizing: border-box;
      padding: 13px 0px 0px 0px;
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  .rex-live__row-column-wrap {
    position: relative;
    // width: 180px;
    box-sizing: border-box;
    width: 159.5555px;
    height: 120px;
    margin: 5px;
    border: 2px solid $palette-color-12;
  }

  .rex-live__row-column {
    width: 50%;
    height: 50%;
    background-color: $modal-background-color;
    z-index: 10;
  }
  
  .modal-form-wrapper {
    padding: 25px 0;
    border-color: $palette-color-4;
    position: relative;

    .modal-form-form-title {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 2px;
      line-height: 25px;
      font-weight: 400;
      position: absolute;
      top: -22px;
      left: -2px;
    }
  }

  .modal-form-column-wrapper {
    margin: 0;
    border-color: $palette-color-4;

    &.lateral {
      width: 62.2222px;
      // width: 50px;
      height: 120px;
      border-width: 2px 0 2px 0;
      border-style: dotted;
      border-color: $palette-color-2;
    }

    .modal-form-column {
      width: 100%;
      height: 100%;
      padding: 5px;

      .modal-form-column-title {
        width: 54px;
        height: 25px;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        line-height: 25px;
        font-weight: 400;
        text-align: center;
        position: absolute;
        top: -22px;
        left: 56.7777px;
      }
    }
  }

  .form-margin-values {
    display: block;
    width: 23px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1;
    height: auto;
    text-align: center;
  }

  .columns-padding-values {
    display: block;
    width: 23px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1;
    height: auto;
    text-align: center;
  }

  .with-text {
    input[type=text] {
      width: 25px;
      font-size: 15px;
      line-height: 15px;
      height: 20px;
      margin-bottom: 7px;
      margin-top: 7px;
      text-align: center;
    }
  }

  .with-text-left {
    input[type=text] {
      width: 25px;
      font-size: 15px;
      line-height: 15px;
      height: 20px;
      margin-bottom: 7px;
      margin-top: 7px;
      text-align: left;
    }
  }

  .with-preview-text {
    input[type=text] {
      width: 150px;
      height: 30px;
      border: 2px solid;
      margin: 20px 10px;
      padding: 0 0 0 10px;
    }
  }

  .w67 {
    width: 67px;
  }
  
  .w115 {
    width: 115px;
  }

  .w190 {
    width: 190.5px;
  }



  .pl3 {
    padding-left: 3px;
  }

  .pl4 {
    padding-left: 4px;
  }

  .pl12 {
    padding-left: 12px;
  }

  .pl20 {
    padding-left: 20px;
  }


  .pr4 {
    padding-right: 4px;
  }
  
  .ml2 {
    margin-left: 2px;
  }

  .ml3 {
    margin-left: 3px;
  }
  
  .rex-wpcf7-accordion-plus-wrap {
    margin-left: 4px;
  }

  .ml7 {
    margin-left: 7px;
  }

  .ml12 {
    margin-left: 12px;
  }

  .ml19 {
    margin-left: 19px;
  }

  .ml24 {
    margin-left: 24px;
  }

  .ml36 {
    margin-left: 36px;
  }

  .ml54 {
    margin-left: 54px;
  }

  .rex-wpcf7-modal-row-tall {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .rex-wpcf7-modal-column-w30,
  .rex-wpcf7-modal-column-w50,
  .rex-wpcf7-modal-column-w70,
  .rex-wpcf7-modal-column-w200 {
    text-align: center;
    margin: 0 0 0 10px;
  }

  .rex-wpcf7-modal-column-w30 {
    width: 30px;
  }
  
  .rex-wpcf7-modal-column-w50 {
    width: 50px;
  }

  .rex-wpcf7-modal-column-w70 {
    width: 70px;
  }

  .rex-wpcf7-modal-column-w200 {
    width: 200px;
  }

  .rex-wpcf7-modal-column-w253 {
    width: 253px;
  }

  .label-px {
    text-transform: uppercase;
  }

  .no_pad_lr {
    padding-left: 0;
    padding-right: 0;
  }

  .prova-icon {
    .l-svg-icons {
      font-size: 30px;
    }
  }

  .big-icon {
    .l-svg-icons {
      font-size: 30px;
    }
  }

  .form-icon {
    .l-svg-icons {
      font-size: 39px;
    }
  }

  #rex-wpcf7-inputs-accordion {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  #rex-wpcf7-mail-to {
    width: 341px;
  }

  #rex-wpcf7-content-width,
  #rex-wpcf7-content-height {
    width: 35px;
  }

  #rex-wpcf7-set-border-width,
  #rex-wpcf7-set-content-font-size {
    width: 25px;
  }
  
  #rex-wpcf7-error-message,
  #rex-wpcf7-send-message {
    width: 217px;
  }
}

#rex-wpcf7-content-preview-text-color,
#rex-wpcf7-content-preview-text-color-hover,
#rex-wpcf7-content-preview-background-color,
#rex-wpcf7-content-preview-background-color-hover,
#rex-wpcf7-content-preview-border-color,
#rex-wpcf7-content-preview-border-color-hover {
  width: 181px;
  height: 42px;
  background-color: black;
  border-radius: 20px;
}

.rot45 {
  transform: rotate(45deg);
}