#rex-wpcf7-content-editor {
  .row-hidden {
    display: none;
  }

  .label-px {
    text-transform: uppercase;
  }

  .rex-input-prefixed {
    label {
      padding-left: 4px;
    }

    #wpcf7-placeholder-label {
      padding-left: 16px;
    }
  }


  
  .rexpansive-accordion {
    .rex-accordion--toggle {
      .l-svg-icons > svg {
        // transform: rotate(45deg);
        cursor: pointer;
      }
    }

    &.open {
      .rex-accordion--toggle {
        .l-svg-icons > svg {
          transform: rotate(45deg);
          width: 20px !important;
          height: 20px !important;
        }
      }
    }

    .rex-accordion--content {
      border-bottom: 1px solid #ddd;

      .rex-accordion--toggle:hover {
        cursor: pointer;
      }
    }
  }

  #wpcf7-placeholder {
    width: 329px;
    margin-left: 44px;
  }

  #wpcf7-input-width,
  #wpcf7-input-height {
    width: 35px;
  }

  #wpcf7-set-email {
    &[type="checkbox"] + span:not(.lever):before {
      top: 0px;
    }

    &[type="checkbox"]:checked + span:not(.lever):before {
      top: -5px;
    }
  }
  
  #wpcf7-required-field,
  #wpcf7-only-numbers {
    &[type="checkbox"] + span:not(.lever):before {
      top: 3px;
    }

    &[type="checkbox"]:checked + span:not(.lever):before {
      top: -2px;
    }
  }

  #wpcf7-list-fields {
    display: flex;
    flex-wrap: wrap;
    border-width: 0;

    .rexwpcf7-sort,
    .rex-wpcf7-delete-list-field {
      cursor: pointer;
    }

    .wpcf7-select-field {
      width: 250px;
    }
  }

  #rex-wpcf7-required-icon,
  #rex-wpcf7-numbers-icon {
    .l-svg-icons {
      font-size: 30px;
    }
  }

  #rex-wpcf7-email-icon {
    .l-svg-icons {
      font-size: 24px;
    }
  }

  .rex-wpcf7-file-list {
    .rexwpcf7-sort {
      display: none;
    }
  }

  .prova-icon {
    .l-svg-icons {
      font-size: 30px;
    }
  }

  .no-br {
    border-width: 0px;
  }

  .w67 {
    width: 67px;
  }
  
  .w115 {
    width: 115px;
  }

  .w190 {
    width: 190.5px;
  }
  
  .ptb24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .pl3 {
    padding-left: 3px;
  }

  .pl4 {
    padding-left: 4px;
  }

  .pl20 {
    padding-left: 20px;
  }


  .pr4 {
    padding-right: 4px;
  }
  
  .ml2 {
    margin-left: 2px;
  }

  .ml3 {
    margin-left: 3px;
  }

  .ml4,
  .ml4-2 {
    margin-left: 4px;
  }

  .ml7 {
    margin-left: 7px;
  }

  .ml12 {
    margin-left: 12px;
  }

  .ml19 {
    margin-left: 19px;
  }

  .ml24 {
    margin-left: 24px;
  }

  .ml54 {
    margin-left: 54px;
  }

  .rex-wpcf7-modal-row-tall {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .with-text {
    input[type=text] {
      width: 25px;
      font-size: 15px;
      line-height: 15px;
      height: 20px;
      margin-bottom: 7px;
      margin-top: 7px;
      text-align: center;
    }
  }

  .bl_modal-row .rexwpcf7-cont_row {
    width: 381px;
    margin: 12px auto;
    
    .rexwpcf7-count-column_accord {
      width: 30px;
      height: 42px;
      margin-right: 12px;
      float: left;
      position: relative;

      .rexwpcf7-upd-accord_button {
        width: 30px;
        height: 42px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 34px;
        padding: 7px 0px 0px 2px;
        color: #979797;

        &:hover {
          color: #00ACFF;
          transition: 1s;
        }
      }
    }

    // .rexwpcf7-count-new_line {
    //   width: 381px;
    //   height: 0.5px;
    //   float: left;
    // }

    // .rexwpcf7-count-whole_row {
    //   width: 334px;
    //   height: 42px;
    //   float: left;
    // }

    .rexwpcf7-count-column_1 {
      width:42px;
      height:42px;
      margin-right:12px;
      float:left;
    }

    .rexwpcf7-count-column_2 {
      width:181px;
      height:42px;
      margin-right:12px;
      float:left;
    }

    .rexwpcf7-count-column_3 {
      width:20px;
      height:42px;
      margin-right:6px;
      float:left;
    }

    .rexwpcf7-count-column_4 {
      width:40px;
      height:42px;
      margin-right:2px;
      float:left;
      padding:11px 0px 10px 0px;
    }

    .rexwpcf7-count-column_5 {
      width: 20px;
      height: 42px;
      float: left;
      padding: 13px 0px 0px 0px;
      box-sizing: border-box;
      font-size: 10px;
      text-transform: uppercase;
    }

    select {
      display: block;
    }
  }
}

#rex-wpcf7-preview-background,
#rex-wpcf7-preview-placeholder,
#rex-wpcf7-preview-select-text,
#rex-wpcf7-preview-select-text-after-selection,
#rex-wpcf7-preview-inputs-background,
#rex-wpcf7-preview-button-background-color,
#rex-wpcf7-preview-background-hover,
#rex-wpcf7-preview-placeholder-hover,
#rex-wpcf7-preview-focus,
#rex-wpcf7-preview-inputs-focus,
#rex-wpcf7-preview-focus-hover,
#rex-wpcf7-preview-button-text-color-hover,
#rex-wpcf7-preview-button-background-color-hover {
  width: 181px;
  height: 42px;
  background-color: black;
  border-radius: 20px;
}

#rex-wpcf7-preview-button-border-color,
#rex-wpcf7-preview-button-border-color-hover {
  width: 181px;
  height: 42px;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
}

.rexwpcf7-set-width-input,
.rexwpcf7-set-height-input {
  // width: 100%!important;
}

.wpcf7-set-font-size {
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  height: 15px;
  width: 100%;
  font-size: 15px;
  line-height: 1;
  text-align:center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
  margin-bottom: 0;
}

// #rex-wpcf7-content-editor {
  
// }

// .cross-icon {
//   transform: rotate(45deg);
//   cursor:pointer;
// }