#rex-element-editor {
    &.editing-model {
        .add-rex-element-model__wrap {
            display: none;
        }
    }
    .add-rex-element-model {
        background-color:rgb(0, 190, 0);
        &.saving-rex-element{
            background-color:rgb(0, 190, 0);
        }
    }
}
.add-rex-element-model.editing-model{
    display: none;
}

#rex-element_label{
    text-shadow: 2px 2px 4px black !important;
}

#rex-element-font-size-wrap{
    display: flex;   
}

#rex-element-preview-background,
#rex-element-preview-inputs-background {
    width: 181px;
    height: 42px;
    background-color: black;
    border-radius: 20px;
}

#rex-element-preview-text-hover{
    width: 181px;
    height: 42px;
    background-color: blue;
    border-radius: 20px; 
}

#rex-element-height-wrap{
    display: flex;
}

#rex-element-preview-background-hover{
    width: 181px;
    height: 42px;
    background-color: black;
    border-radius: 20px;
}

#rex-element-border-preview{
    width: 181px;
    height: 42px;
    border-color: blue;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

#rex-element-preview-border-hover{
    width: 181px;
    height: 42px;
    background-color: blue;
    border-radius: 20px;
}

#rex-element-border-width-wrap{
    display: flex;
}
#rex-element-border-radius-wrap{
    display: flex;
}
#rex-element-margin-top-wrap{
    display: flex;
}
#rex-element-preview-empty{
    width: 100%;
    height: 30px;
    background-color: grey;
    /*border-radius:14px;*/
}
#rex-element-margin-bottom-wrap{
    display: flex;
}

#rex-element-link-target-wrap{
    width:100%;
}
.rexelement-cont_row45 #rex-element-link-target-wrap { 
    height:21px; margin:11px 0px 10px 0px; }

#rex-element-name-wrap{
    width: 100%;
}
.rexelement-cont_row77 #rex-element-name-wrap{ 
    height:21px; margin:11px 0px 10px 0px; }

.rex-reset-button{
    width: 30px; 
    background-color: grey; 
    border-radius: 50%
}
.rex-apply-button{
    width: 30px; 
    background-color: blue; 
    border-radius: 50%
}

#rex-element-name-model-wrap{
    width:100%;
}

#rex-rexelement-add-model-wrap{
    display:block;
    width:30px;
    height:30px;
    font-size:24px;
    text-align:center;
    box-sizing:border-box;
    border-radius:50%;
    overflow:hidden;
    margin:6px 0px 6px 0px;
    padding:6px 0px 0px 0px;
    color:#FFFFFF;
}

#rex-rexelement-add-model-wrap:hover{
    cursor: pointer;
}

#rex-wpcf7-content-adder {
    &.editing-model {
        .add-rex-element-model__wrap {
            display: none;
        }
    }
    .add-rex-element-model {
        background-color:rgb(0, 190, 0);
        &.saving-rex-element{
            background-color:rgb(0, 190, 0);
        }
    }
}

#rex-wpcf7-content-editor {
    &.editing-model {
        .add-rex-element-model__wrap {
            display: none;
        }
    }
    .add-rex-element-model {
        background-color:rgb(0, 190, 0);
        &.saving-rex-element{
            background-color:rgb(0, 190, 0);
        }
    }
}

/* ELEMENT EDITOR - CSS Row 1-2-3-4-5-6 */
.bl_modal-row .rexelement-cont_row10{
  width:381px;
  margin:12px auto;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-colum_accord{
  width:30px;
  height:42px;
  margin-right:12px;
  float:left;
  position:relative;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-colum_accord .rexelement-upd-accord_button{
  width:30px;
  height:42px;
  position:absolute;
  top:0;left:0;
  text-align:center;
  font-size:34px;
  padding:7px 0px 0px 2px;
  color:#979797;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-colum_accord .rexelement-upd-accord_button:hover{color:#00ACFF;transition:1s;}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-column_1{
  width:42px;
  height:42px;
  margin-right:12px;
  float:left;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-column_2{
  width:181px;
  height:42px;
  margin-right:12px;
  float:left;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-column_2CC{
  width:181px;
  height:30px;
  padding:11px 0px 10px 0px;
  margin-right:12px;
  float:left;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-column_3{
  width:20px;
  height:42px;
  margin-right:6px;
  float:left;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-column_4{
  width:40px;
  height:42px;
  margin-right:2px;
  float:left;
  padding:11px 0px 10px 0px;
}
.bl_modal-row .rexelement-cont_row10 .rexelement-count-column_5{
  width:20px;
  height:42px;
  float:left;
  padding:13px 0px 0px 0px;
  box-sizing:border-box;
  font-size: 10px;
  text-transform: uppercase;
}
.bl_modal-row  .rexelement-cont_row10 .rexelement-upd-textbox{
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  height: 20px;
  width: 100%;
  font-size: 15px;
  line-height: 1;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align:center;
  /*box-sizing:border-box;*/
  margin-bottom: 0;
}
.bl_modal-row  .rexelement-cont_row10 .rexelement-count-column_2CC .rexelement-upd-textbox{text-align:left;}

  /* ELEMENT EDITOR - CSS Row 7 */
.bl_modal-row .rexelement-cont_row23{width:393px;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_6{
  width:279px;
  height:150px;
  padding:13px 12px 12px 0px;
  border-right:1px solid #ddd;
  float:left;
}
.bl_modal-row .rexelement-cont_row23 .zl_cfd_a{
  position:absolute;
  top:3px;left:50%;
  width:60px;
  margin-left:-30px;
  font-size:10px;
  letter-spacing:2px;
  font-weight:bold;
  text-align:center;
  color:#bdbdbd;
}
.rexelement-cont_row23 input[type=text]{font-size:11px;}
.rexelement-cont_row23 input.block-padding-values{width:14px;text-align:center;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_6 .rex-live__row-margin-padding{width:267px;height:124px;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_6 .rex-live__row-margin-padding{padding:0px 0px;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_6 .rex-live__row-gutter-wrap{width:100px;height:4px;margin:8px 8px 10px 8px;border: 0px dotted #bdbdbd;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_6 .rex-live__row-padding-wrap{margin:8px;padding:6px 8px 6px 8px;border-radius:20px;background-color:#ececec;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_7{
  width:114px;
  height:50px;
  padding:10px 12px 10px 10px;
  border-top:1px solid #ddd;
  float:left;
}
.bl_modal-row .rexelement-cont_row23 .nobord{border-top:0px solid #ddd;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_7 .rexelement-count-column_container{width:92px;height:30px;}
.bl_modal-row .rexbutton-cont_row23 .rexelement-count-column_7 .subRow7_1{
  width:20px;
  height:30px;
  margin:0px 6px 0px 0px;
  float:left;
}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_7 .subRow7_1 svg{width:20px;height:20px;margin:5px 0px;}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_7 .subRow7_2{
  width:40px;
  height:21px;
  margin:0px 2px 0px 0px;
  padding:5px 0px 4px 0px;
  float:left;
}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_7 .subRow7_3{
  width:20px;
  height:30px;
  padding:8px 0px 0px 0px;
  font-size: 10px;
  text-transform: uppercase;
  float:left;
}
.bl_modal-row .rexelement-cont_row23 .rexelement-count-column_7 .rotate{transform:rotate(90deg);}

.bl_modal-row  .rexelement-cont_row23 .rexelement-upd-textbox{
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  height: 20px;
  width: 100%;
  font-size: 15px;
  line-height: 1;
  text-align:center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
  margin-bottom: 0;
}
.bl_modal-row  .rexelement-cont_row23 .rexelement-upd-small_textbox{
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  /*padding:8px 0px 0px 0px;*/
  height: 29px;
  width: 100%;
  font-size: 1rem;
  text-align:center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
}

/* ELEMENT EDITOR - CSS Row 8 */
.bl_modal-row .rexelement-cont_row45{width:381px;}
.bl_modal-row .rexelement-cont_row45 .rexelement-count-column_9{
  width:234px;
  height:66px;
  padding:12px 12px 12px 0px;
  border-right:1px solid #ddd;
  float:left;
  text-align:center;
}
.bl_modal-row .rexelement-cont_row45 .rexelement-count-column_10{
  width:135px;
  height:42px;
  margin:12px 0px 12px 12px;
  float:left;
}
.bl_modal-row  .rexelement-cont_row45 .rexelement-upd-combobox{height:42px;padding:9px 15px 7px 15px;}
.bl_modal-row  .rexelement-cont_row45 .rexelement-upd-textbox_resize{height:20px;box-sizing:border-box;}
//.bl_modal-row  .rexelement-cont_row45 .activeinput{padding-top:9px;}
.rex-modal .rexelement-cont_row45 .input-field.rex-input-prefixed .prefix ~ input {
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #424242;
  height: 20px;
  width: 100%;
  font-size: 11px;
  line-height: 1;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
  margin: 0;
}
.rex-modal .rexelement-cont_row45 .rex-material-bar {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.rex-modal .rexelement-cont_row45 .input-field.rex-input-prefixed .prefix ~ label {
  margin: 2px 0px 0px 0px;
  font-size: 15px;
  top: 0px;
}
.rex-modal .rexelement-cont_row45 .input-field.rex-input-prefixed .prefix ~ label.active{
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
  /* ELEMENT EDITOR - CSS Row 9 */
.bl_modal-row .rexelement-cont_row77{
  width:381px;
  height:42px;
  margin:12px auto 24px auto;
}
.bl_modal-row .rexelement-cont_row77 .rexelement-count-column_11{
  width:339px;
  height:42px;
  float:left;
  .editing-model & {
    width: 100%;
  }
}
.bl_modal-row .rexelement-cont_row77 .rexelement-count-column_12{
  width:30px;
  height:42px;
  margin-left:12px;
  float:left;
}
.bl_modal-row  .rexelement-cont_row77 .rexelement-upd-actiontextbox{height:20px;box-sizing:border-box;}
.rex-modal .rexelement-cont_row77 .input-field.rex-input-prefixed .prefix ~ input {
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #424242;
  height: 20px;
  width: 100%;
  font-size: 11px;
  line-height: 1;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
  margin: 0;
}
//.rex-modal .rexelement-cont_row77 .activeinput{padding-top:9px;}
.rex-modal .rexelement-cont_row77 .rex-material-bar {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.rex-modal .rexelement-cont_row77 .input-field.rex-input-prefixed .prefix ~ label {
  margin: 0px 0px 0px 0px;
  font-size: 15px;
  top: 0px;
}
.rex-modal .rexelement-cont_row77 .input-field.rex-input-prefixed .prefix ~ label.active{
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}