/* --------- ACE EDITORS ------------- */
#rex-css-editor {
  width: 40%;
  max-width: 40%;
  /*transform: none;*/
  background-color: #000;
}

#rex-css-editor .modal-content {
  padding: 0;
  border: 15px solid #000;
}

.rex-modal .rex-ace-editor {
  position: relative;
  width: 100%;
  height: 400px;
}