#rex-wpcf7-content-editor {
  .row-hidden {
    display: none;
  }

  .bl_modal-row .rexwpcf7-cont_row{
    width:381px;
    margin:12px auto;
    
    .rexwpcf7-count-column_accord{
      // background-color: black;
      width:30px;
      height:42px;
      margin-right:12px;
      float:left;
      position:relative;

      .rexwpcf7-upd-accord_button{
        width:30px;
        height:42px;
        position:absolute;
        top:0;
        left:0;
        text-align:center;
        font-size:34px;
        padding:7px 0px 0px 2px;
        color:#979797;

        &:hover {
          color:#00ACFF;
          transition:1s;
        }
      }
    }

    .rexwpcf7-count-new_line{
      width:381px;
      height: 0.5px;
      float: left;
    }

    .rexwpcf7-count-whole_row{
      width: 334px;
      height: 42px;
      float: left;
    }

    .rexwpcf7-count-column_1{
      // background-color: green;
      width:42px;
      height:42px;
      margin-right:12px;
      float:left;
    }

    .rexwpcf7-count-column_2{
      // background-color: blue;
      width:181px;
      height:42px;
      margin-right:12px;
      float:left;
    }

    .rexwpcf7-count-column_3{
      // background-color: red;
      width:20px;
      height:42px;
      margin-right:6px;
      float:left;
    }

    .rexwpcf7-count-column_4{
      // background-color: grey;
      width:40px;
      height:42px;
      margin-right:2px;
      float:left;
      padding:11px 0px 10px 0px;
    }

    .rexwpcf7-count-column_5{
      // background-color: yellow;
      width: 20px;
      height: 42px;
      float: left;
      padding: 13px 0px 0px 0px;
      box-sizing: border-box;
      font-size: 10px;
      text-transform: uppercase;
    }

    select {
      display: block;
    }
  }
}

#rex-wpcf7-preview-background,
#rex-wpcf7-preview-placeholder,
#rex-wpcf7-preview-select-text,
#rex-wpcf7-preview-select-text-after-selection,
#rex-wpcf7-preview-inputs-background,
#rex-wpcf7-preview-button-background-color,
#rex-wpcf7-preview-background-hover,
#rex-wpcf7-preview-placeholder-hover,
#rex-wpcf7-preview-focus,
#rex-wpcf7-preview-inputs-focus,
#rex-wpcf7-preview-focus-hover,
#rex-wpcf7-preview-button-text-color-hover,
#rex-wpcf7-preview-button-background-color-hover {
  width: 181px;
  height: 42px;
  background-color: black;
  border-radius: 20px;
}

#rex-wpcf7-preview-button-border-color,
#rex-wpcf7-preview-button-border-color-hover {
  width: 181px;
  height: 42px;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
}

.rexwpcf7-set-width-input,
.rexwpcf7-set-height-input {
  // width: 100%!important;
}

.wpcf7-set-font-size {
  background-color: transparent;
  /*background-color: lime;*/
  border: none;
  border-bottom: 1px solid #9e9e9e;
  height: 15px;
  width: 100%;
  font-size: 15px;
  line-height: 1;
  text-align:center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*box-sizing:border-box;*/
  margin-bottom: 0;
}

#rex-wpcf7-content-editor .rexpansive-accordion.open{
  .rex-accordion--toggle .l-svg-icons > svg{
    transform: rotate(90deg);
    width:20px !important;
    height:20px !important;
  }
}

#rex-wpcf7-content-editor .rexwpcf7-cont_row .l-svg-icons > svg {
  transform: rotate(45deg);
  cursor:pointer;
}

.cross-icon {
  transform: rotate(45deg);
  cursor:pointer;
}