.rex-model__import--wrap-active {
  display: flex;
  width: 100%;
}

.rex-model__import--wrap-active.hide-import-wrap {
  display: none;
}

#rex-edit-model-choose .rex-hide-option {
  display: none;
}

#rex-models-list {
  .model-html {
    display: none;
  }
  .rex-close-button {
    @include fill-icon(#000);
  }
  .model__element {
    padding: 10px;
    margin-bottom: 0;
    // &:not(:last-child) {
      border-bottom: 1px solid #D6D6D6;
    // }
  }
  .model-thumbnail {
    max-height: 50px;
  }

  .model-preview {
    font-size: 30px;
    background-color: $palette-color-8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    height: 150px;
    position: relative;
    cursor: move;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
    &.model-preview--active {
      .model-preview__placeholder {
        visibility: hidden;
      }
    }
  }

  .model-name {
    @include live-fonts();
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.rex-lateral-panel {
  width: 100%;
  max-width: 320px;
  position: fixed;
  top: $top-tools-height;
  right: 0;
  height: 100%;
  z-index: 3500;
  font-size: 16px;
  color: #000;
  transform: translateX(100%);

  &.rex-lateral-panel--open {
    animation: bounce-in-right-mod .5s both;
    opacity: 1;
    visibility: visible;
  }

  &.rex-lateral-panel--close {
    animation: slide-out-right-no-opacity 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
}

.rex-lateral-panel__content {
  background-color: #fff;
  // padding: 10px;
  box-shadow: -5px 0 5px rgba(0,0,0,.1);
  height: 100%;
}

.models-list-wrapper {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 70px);
}
