.rex-button-wrapper {
    align-items: center;
    display: inline-flex;
    .rex-button-container {
        text-decoration: none;
        position: relative;
        align-items: center;
        display: inline-flex;
    }
    .rex-button-background {
        // width: 100%;
        // height: 100%;
        min-width: inherit;
        min-height: inherit;
        align-items: center;
        display: inline-flex;
    }
    .rex-button-text {
        padding: 10px;
    }
}