.rex-live__row-margin-padding {
  max-width:340px;
  margin: 0 auto;
}
.rex-live__row-margin-wrap {
  border: 2px solid #000;
  margin: 5px;
  padding: 5px;
}
.rex-live__row-padding-wrap {
  width:120px;
  height: 120px;
  border: 2px dotted #000;
  position:relative;
  margin: 5px;
}
.rex-live__row-padding-wrap--yasix {
  width:2px;
  height:100%;
  top:0;
  left:50%;
  transform:translateX(-1px);
  background:#000;
  position:absolute;
  z-index: 0;
}
.rex-live__row-padding-wrap--xasix {
  width:100%;
  height:2px;
  top:50%;
  left:0;
  transform:translateY(-1px);
  background:#000;
  position:absolute;
  z-index: 0;
}
.rex-live__row-gutter {
  width: 50%;
  height: 50%;
  z-index: 10;
  background-color: $modal-background-color;
}
 