.rexlive-block-toolbox {
  position: absolute;
  left: 0;
  width: 100%;
  //height: 20px;
  //background-color: #444;
  // display: block;
  // display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms;
  
  font-size: 10px;
  @include live-fonts();

  &.top-tools {
    top: 0;
    z-index: 50;
    transform: translateY(-50%);
  }

  &.bottom-tools {
    bottom: 20px;
    z-index: 50;
  }

  &.floating-tools {
    top: 0;
    z-index: 10;
  }
  
  .focused & {
    opacity: 1;
    visibility: visible;
  }

  .rexlive-top-block-tools {
    @include generic-toolbar;
    padding: 0px 20px;
    position: relative;
  }

  .rexlive-bottom-block-tools {
    padding: 0 20px;
    position: relative;
  }

  .rexlive-floating-block-tools {
    @include generic-toolbar;
    position: relative;
  }

  .tool-button {
    // @include fill-icon(#000);

    &.tool-button--deactivate {
      @include fill-icon(#fff);
    }
  }

  .builder-delete-block {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);

    font-size: 10px;
    background-color: $palette-color-4;
    @include fill-icon(#fff);
  }

  .el-size-viewer {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 10px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .el-size-viewer__um {
    font-size: 8px;
    display: none;
  }

  .tool-button_list {
    &.tool-button_list--horizontal {
      left: -70px;
    }
  }
}

.perfect-grid-gallery {
  &[data-layout="masonry"] {
    .el-size-viewer__um {
      display: inline;
    }
  }
}

.tool-button {
  &.edit-block-image {
    padding: 0;
    font-size: 20px;
    overflow: hidden;
  }
}

.perfect-grid-gallery {
  &[data-row-separator-top="0"],
  &[data-row-separator-top="1"],
  &[data-row-separator-top="2"],
  &[data-row-separator-top="3"],
  &[data-row-separator-top="4"],
  &[data-row-separator-top="5"],
  &[data-row-separator-top="6"],
  &[data-row-separator-top="7"],
  &[data-row-separator-top="8"],
  &[data-row-separator-top="9"],
  &[data-row-separator-top="10"],
  &[data-row-separator-top="11"],
  &[data-row-separator-top="12"],
  &[data-row-separator-top="13"],
  &[data-row-separator-top="14"],
  &[data-row-separator-top="15"],
  &[data-row-separator-top="16"],
  &[data-row-separator-top="17"],
  &[data-row-separator-top="18"],
  &[data-row-separator-top="19"],
  &[data-row-separator-top="20"],
  &[data-row-separator-top="21"],
  &[data-row-separator-top="22"],
  &[data-row-separator-top="23"],
  &[data-row-separator-top="24"],
  &[data-row-separator-top="25"],
  // &[data-row-separator-top="26"],
  // &[data-row-separator-top="27"],
  // &[data-row-separator-top="28"],
  // &[data-row-separator-top="29"] 
  {
    .grid-stack-item[data-gs-y="0"] {
      .rexlive-top-block-tools {
        padding: 0;
      }
      .rexlive-block-toolbox {
        &.top-tools,
        &.floating-tools {
          top: 10px;
          transform: none;
        }
        .el-size-viewer {
          margin-left: 15px;
        }
        .block-toolBox__config-tools {
          .builder-delete-block {
            transform: translateX(10px);
            display: inline-block;
          }
        }
      }
      .builder-delete-block {
        display: none;
      }
    }
  }
  @include blocks-tools-positions( 10 );
}

.block-toolBox__fast-configuration {
  .tool-button--inline {
    max-width: $block-tools-size;
    max-height: $block-tools-size;
  }
  .tool-button--double-icon--wrap {
    max-height: $block-tools-size;
    margin: 0 5px;
    margin-right: 10px;
  }

  .tool-button {
    &:not(.tool-button--double-icon) {
      padding: 0;
      overflow: hidden;
    }
  }

  .tool-button {
    &.tool-button--block-bottom--fix {
      margin-right: 10px;
      margin-left: 5px;
      padding: 5px;
    }
  }

  .edit-block-video-background {
    &.tool-button {
      padding: 5px;
    }
  }
}

.block-toolBox__config-tools {
  .tool-button-floating {
  // .builder-delete-block {
    margin-left: 15px;
  }
}

.block-toolBox__editor-tools {
  @include center-from-left-abs();
  padding-right: 15px;
  .tool-button--inline {
    margin-left: 15px;
  }
}

.rexlive-block-toolbox {
  .block-toolBox__config-tools {
    font-size: 10px;
    .builder-delete-block {
      position: static;
      display: none;
    }
  }
}

.drag-to-section-simulator {
  opacity: 0;
}

.grid-stack-item {
  &[data-gs-width="1"],
  &[data-gs-width="2"] {
    .rexlive-block-toolbox.top-tools {
      width: auto;
      top: 50%!important;
      left: 50%;
      transform: translate(-50%,-50%)!important;
      > .builder-delete-block {
        display: none;
      }
    }
    .rexlive-top-block-tools {
      padding: 0;
    }
    .rexlive-block-toolbox.bottom-tools,
    .block-toolBox__editor-tools,
    .rexlive-block-toolbox.floating-tools,
    .block-toolBox__placeholder,
    .el-size-viewer {
      display: none;
    }
    .block-toolBox__config-tools {
      > div:not(.block-toolBox__config-list) {
        display: none!important;
      }
      .block-toolBox__config-list {
        margin-left: 0;
      }
    }
    // .ui-resizable-handle {
    //   display: none;
    // }
  }
  &[data-gs-width="3"] {
    .rexlive-block-toolbox {
      .rexlive-top-block-tools {
        padding: 10px;
      }
    }
  }
}