.rexlive-block-toolbox {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 10px;

  @include live-fonts();

  &.top-tools {
    top: 0;
    z-index: 50;
  }

  &.bottom-tools {
    bottom: 20px;
    z-index: 50;
  }

  &.floating-tools {
    top: 0;
    z-index: 10;
  }

  display: none;
  //height: 20px;
  //background-color: #444;
  // display: block;
  
  &.focused {
    display: block;
  }

  .rexlive-top-block-tools {
    @include generic-toolbar;
    padding: 10px 20px;
    position: relative;
  }

  .rexlive-bottom-block-tools {
    padding: 0 20px;
    position: relative;
  }

  .rexlive-floating-block-tools {
    @include generic-toolbar;
    position: relative;
  }

  .tool-button {
    @include fill-icon(#000);

    &.tool-button--deactivate {
      @include fill-icon(#fff);
    }
  }

  .builder-delete-block {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 10px;
    background-color: $palette-color-4;
    @include fill-icon(#fff);
  }

  .el-size-viewer {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 10px;
  }

}

.tool-button {
  &.edit-block-image {
    padding: 0;
    font-size: 20px;
    overflow: hidden;
  }
}

.perfect-grid-gallery[data-row-separator-top="0"],
.perfect-grid-gallery[data-row-separator-top="1"],
.perfect-grid-gallery[data-row-separator-top="2"],
.perfect-grid-gallery[data-row-separator-top="3"],
.perfect-grid-gallery[data-row-separator-top="4"],
.perfect-grid-gallery[data-row-separator-top="5"],
.perfect-grid-gallery[data-row-separator-top="6"],
.perfect-grid-gallery[data-row-separator-top="7"],
.perfect-grid-gallery[data-row-separator-top="8"],
.perfect-grid-gallery[data-row-separator-top="9"],
.perfect-grid-gallery[data-row-separator-top="10"],
.perfect-grid-gallery[data-row-separator-top="11"],
.perfect-grid-gallery[data-row-separator-top="12"],
.perfect-grid-gallery[data-row-separator-top="13"],
.perfect-grid-gallery[data-row-separator-top="14"],
.perfect-grid-gallery[data-row-separator-top="15"] {
  .grid-stack-item[data-row="1"] {
    .rexlive-top-block-tools {
      padding: 0;
    }
    .rexlive-block-toolbox {
      &.top-tools {
        top: 20px;
      }
      .block-toolBox__config-tools {
        .builder-delete-block {
          transform: translateX(10px);
          display: inline-block;
        }
      }
    }
    .builder-delete-block {
      display: none;
    }
  }
}

.block-toolBox__fast-configuration {
  .tool-button--inline {
    max-height: $block-tools-size;
  }
  .tool-button--double-icon--wrap {
    max-height: $block-tools-size;
    margin: 0 5px;
  }

  .tool-button {
    &:not(.tool-button--double-icon) {
      padding: 0;
      overflow: hidden;
    }
  }

  .edit-block-video-background {
    &.tool-button {
      padding: 5px;
    }
  }

}

.block-toolBox__config-tools {
  .tool-button-floating {
  // .builder-delete-block {
    margin-left: 10px;
  }
}

.block-toolBox__editor-tools {
  .tool-button--inline {
    margin-left: 10px;
  }
}

.rexlive-block-toolbox {
  .block-toolBox__config-tools {
    font-size: 10px;
    .builder-delete-block {
      position: static;
      display: none;
    }
  }
}
