// LIVE
.rexbutton-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  .rex-button-tools-container {
    width:100%;
    height:22px;
    font-size:10px;

    .rex-edit-button {
      position: absolute;
      /* (ACTIVE) Use this code to align the edit button to the centre. */
      top:0px;right:50%;
      margin:0px -10px 0px 0px;
      /* Use this code to align the edit button to the left/right. */
      /* <<< - top:0px;left:0px; */
      /* >>> - top:0px;right:0px; */
    }

    .rex-delete-button {
      position: absolute;
      top:0px;right:0px;
      background-color: #424242;

      .l-svg-icons > svg { 
        fill: #ffffff; 
      }
    }
  }
}
