.meditor-color-picker {
  background-image: url(../img/colors-hd.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  .meditor-color-picker__placeholder {
    opacity:0;
  }
}

// .medium-editor-button-first {
//   border-left-radius:50%;
// }