.rexelement-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  .rex-element-tools-container {
    width: 100%;
    height: 22px;
    // height: 100%;
    font-size: 10px;

    .rex-edit-element {
      position: absolute;
      top: 0px;
      right: 50%;
      margin: 0px -10px 0px 0px;
    }

    .rex-delete-element {
      position: absolute;
      top:0px;
      right:0px;
      background-color: #424242;

      .l-svg-icons > svg {
        fill: #ffffff;
      }
    }

    .wpcf7-add-new-row {
      position: absolute;
      bottom: 0px;
    }
  }
}


// Common CSS
.wpcf7-row__1-column,
.wpcf7-row__2-columns,
.wpcf7-row__3-columns,
.wpcf7-row__4-columns {
  .wpcf7-column {
    align-content: center;
    display: inline-flex;
    background-color: white;
    border-width: 10px;
    padding: 10px;
  }
}

// Different CSS
.wpcf7-row__1-column {
  .wpcf7-column {
    width: 100%;
  }
}

.wpcf7-row__2-columns {
  .wpcf7-column {
    max-width: 50%;
    width: 50%;//con 50% non va
  }
}

.wpcf7-row__3-columns {
  .wpcf7-column {
    width: 33%;
  }
}

.wpcf7-row__4-columns {
  .wpcf7-column {
    width: 25%;
  }
}