.section-toolBox {
  // width: 100%;
  // height: 20px;
  overflow: visible;
  right: -2px;
  left: -2px;
  top: 0px;
  // display: none;
  position: absolute;
  z-index: 2000;
  display: block;
  // transition: opacity 300ms;
  // transform: translateY(-50%);
  // opacity: 0; 
  // background-color: rgba(#000, 0.5);
  height: 20px;

  .tools {
    background-color: transparent;
    color: #000;
    display: none;
    margin-left: -5px;
    margin-right: -5px;
  }

  .tools-area {
    padding: 10px;
    border-radius: 15px;
    opacity: 0;
    max-height: 33px;
    transition: box-shadow 300ms;

    &.tool-area--side {
      background-color: $palette-color-4;
      animation-delay: 300ms;
      .tool-button--flat {
        &:hover {
          @include fill-icon(rgba(255, 255, 255, 0.5));
        }
      }
    }

    &.tool-area--center {
      background-color: $palette-color-4;
      padding-left: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      @include center-from-left-abs();
      &.row-toolBox__def-view {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        // padding-right: 5px;
      }
      .tool-button--flat {
        &:hover {
          @include fill-icon(#81d7ff);
        }
      }
    }

    &:first-child {
      padding-left: 6px;
    }

    &:last-child {
      padding-right: 6px;
      // min-height: 38px;
    }

    .tool-button--flat {
      &.tool-button--flat--distance-fix {
        padding-right: 10px;
      }
    }

    &:hover {
      box-shadow: $tools-area-shadow;
    }
  }

  // .tool-area--side {
  // }

  .tool-button {
    &.tool-button--deactivate {
      background-color: #fff;
      @include fill-icon($palette-color-4);
    }
  }
  
  &.tool-box-active {
    display: block;
  }

  // &:hover {
  //   @include view-row-tools();
  // }

  .switch-toggle {
    padding-right: 10px;
  }

  font-size: $row-tools-size;

  // .tool-button--color {
  //   min-width: auto;
  //   min-height: auto;
  //   width: 10px;
  //   height: 10px;
  // }

  .tool-button_list {
    font-size: 10px;
    left: 2px;
    max-width: 20px;
    .tool-button--full {
      font-size: 20px;
    }
  }
}

.rexpansive_section {
  &:hover {
    .section-toolBox {
      @include view-row-tools();
    }
  }
  &:not(.removing_section) {
    &:not(:last-child) {
      .row-toolBox__def-hide {
        display: none;
      }
      .section-toolBox {
        .tools {
          justify-content: flex-end;
        }
      }
    }
    &:last-child {
      .row-toolBox__def-view {
        display: none;
      }
    }
  }
}

.activeRowTools {
  .section-toolBox {
    @include view-row-tools();
  }
  ~ .rexpansive_section {
    z-index: 0;
    &:hover {
      z-index: auto;
    }
  }
}

.highLightRow {
  .section-toolBox {
    + .section-toolBoox__highlight {
      opacity: 1;
    }
  }
}

.rowTools__hide-fast-data {
  .tool-area--center {
    &.row-toolBox__def-view {
      display: none;
    }
  }
}

.section-toolBoox__highlight {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  outline: 2px solid $palette-color-1;
  opacity: 0;
  z-index: 1;
  transition: opacity 200ms;
  box-shadow: $shadow-2;
}

.builder-move-row {
  cursor: move;
}

.builder-copy-row {
  cursor: copy;
}

.row-toolBox__fast-configuration {
  .tool-button--inline {
    max-width: $row-fast-config-tools-size;
    max-height: $row-fast-config-tools-size;
    font-size: $row-fast-config-tools-size;
  }
  .tool-button--double-icon--wrap {
    max-height: $row-fast-config-tools-size;
    margin: 0 5px;
    &.tool-button--distance-fix {
      margin-right: 10px;
    }
  }

  .tool-button--distance-fix--small {
    margin: 0 9px 0 4px;
  }

  .tool-button {
    &:not(.tool-button--double-icon) {
      padding: 0;
      overflow: hidden;
    }
  }

  .edit-row-video-background {
    &.tool-button {
      border-radius: 0;
    }
  }

  .tool-button {
    &.tool-button--empty {
      min-width: $row-fast-config-tools-size;
      min-height: $row-fast-config-tools-size;
    }
  }

  .tool-button--double-icon--wrap {
    .tool-button--double-icon { 
      font-size: 8px;
      padding: 2px;
    }
  }

  .tool-button__video-fast {
    .tool-button--inline:first-child {
      font-size: 14px;
    }
  }
  .tool-button__video-fast {
    max-height: 14px;
  }
}

// .empty-section {
  // dev purpose
  // .section-toolBox {
  //   .tools {
  //     @include generic-toolbar;
  //     transform: translateY(-50%);
  //   }
  
  //   + .section-toolBoox__highlight {
  //     opacity: 1;
  //   }
  // }
  // .row-toolBox__fast-configuration {
  //   display: none;
  // }
// }

.add-new-section__wrap {
  padding: 20px 0;
  // .add-new-section {
  //   @include bl-btn--add-big();
  // }
}

.add-new-section--hide {
  .add-new-section__wrap {
    display: none;
  }
}