.rexwpcf7-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  .rex-wpcf7-tools-container {
    width: 100%;
    height: 22px;
    font-size: 10px;
    text-align: center;
    align-items: center;

    .wpcf7-add-new-row,
    .wpcf7-settings {
      margin: 15px;
    }
  }
}

.rexwpcf7-row-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  .rex-wpcf7-row-tools-container {
    // width: 100%;
    width: 0px;
    // height: 22px;
    height: 0px;
    font-size: 10px;

    .rex-wpcf7-row-drag {
      position: absolute;
      top: 0px;
      right: 60px;
    }

    .rex-wpcf7-row-clone {
      position: absolute;
      top: 0px;
      right: 25px;
    }

    .rex-wpcf7-row-delete {
      position: absolute;
      top: 0px;
      right: -10px;
      background-color: #424242;

      .l-svg-icons > svg {
        fill: #ffffff;
      }
    }
  }
}

.rexwpcf7-column-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  .rex-wpcf7-column-tools-container {
    // width: 100%;
    width: 0px;
    // height: 22px;
    height: 0px;
    font-size: 10px;

    .rex-wpcf7-column-settings {
      position: absolute;
      top: 0px;
      left: calc(50% - 10px);
    }

    .rex-wpcf7-column-clone {
      position: absolute;
      top: 0px;
      right: 25px;
    }

    .rex-wpcf7-column-delete {
      position: absolute;
      top: 0px;
      right: -10px;
    }
  }
}

.wpcf7-form {
  cursor: default;
  display: flex;
}

.wpcf7-rows {
  width: 100%;
  display: block;
}

.wpcf7-row {
  width: 100%;
  min-height: 72px;
  display: flex;
}

.wpcf7-column {
  display: flex;
}

.wpcf7-column-content {
    width:100%;
}

.wpcf7-row__1-column,
.wpcf7-row__2-columns,
.wpcf7-row__3-columns,
.wpcf7-row__4-columns {
  .wpcf7-column {
    float: left;
    padding: 10px;
    justify-content: center;
  }
}

.wpcf7-row__1-column {
  .wpcf7-column {
    width: 100%;
  }
}

.wpcf7-row__2-columns {
  .wpcf7-column {
    max-width: 50%;
    width: 50%;
  }
}

.wpcf7-row__3-columns {
  .wpcf7-column {
    // max-width: 33.3333%;
    width: 33.3333%;
  }
}

.wpcf7-row__4-columns {
  .wpcf7-column {
    width: 25%;
    // max-width: 25%;
  }
}

.rex-wpcf7-column-content-data {
  display: none;
}

.wpcf7-add-new-form-content {
  display: none;
}