.rexwpcf7-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  .rex-wpcf7-tools-container {
    width: 100%;
    height: 22px;
    font-size: 10px;
    text-align: center;
    align-items: center;

    .wpcf7-add-new-row,
    .wpcf7-settings {
      margin: 15px;
    }
  }
}

.rexwpcf7-row-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  // z-index: 4000;

  .rex-wpcf7-row-tools-container {
    // width: 100%;
    width: 0px;
    // height: 22px;
    height: 0px;
    font-size: 10px;

    .rex-wpcf7-row-drag {
      position: absolute;
      top: 0px;
      right: 60px;
      display: none;
    }

    .rex-wpcf7-row-clone {
      position: absolute;
      top: 0px;
      right: 25px;
    }

    .rex-wpcf7-row-delete {
      position: absolute;
      top: 0px;
      right: -10px;
      background-color: #424242;

      .l-svg-icons > svg {
        fill: #ffffff;
      }
    }
  }
}

.rexwpcf7-column-tools {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  .rex-wpcf7-column-tools-container {
    // width: 100%;
    width: 0px;
    // height: 22px;
    height: 0px;
    font-size: 10px;

    .rex-wpcf7-column-settings {
      position: absolute;
      top: 0px;
      left: calc(50% - 10px);
    }

    .rex-wpcf7-column-clone {
      position: absolute;
      top: 0px;
      right: 25px;
    }

    .rex-wpcf7-column-delete {
      position: absolute;
      top: 0px;
      right: -10px;
    }
  }
}