%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-A001-Tablet {
	@extend %svg-common;
	background-position: 11.049723756906078% 100%;
}

.svg-A001-Tablet-dims {
	width: 100px;
	height: 100px;
}

.svg-A002-Redo {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-A002-Redo-dims {
	width: 100px;
	height: 100px;
}

.svg-A003-Undo {
	@extend %svg-common;
	background-position: 66.29834254143647% 79.13446676970634%;
}

.svg-A003-Undo-dims {
	width: 100px;
	height: 65px;
}

.svg-A005-Save-Minimal {
	@extend %svg-common;
	background-position: 33.149171270718234% 100%;
}

.svg-A005-Save-Minimal-dims {
	width: 100px;
	height: 100px;
}

.svg-A006-Save {
	@extend %svg-common;
	background-position: 11.049723756906078% 83.66013071895425%;
}

.svg-A006-Save-dims {
	width: 100px;
	height: 100px;
}

.svg-A007-Close {
	@extend %svg-common;
	background-position: 22.099447513812155% 83.66013071895425%;
}

.svg-A007-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-A008-Code {
	@extend %svg-common;
	background-position: 33.149171270718234% 83.66013071895425%;
}

.svg-A008-Code-dims {
	width: 100px;
	height: 100px;
}

.svg-A009-Range {
	@extend %svg-common;
	background-position: 44.19889502762431% 83.66013071895425%;
}

.svg-A009-Range-dims {
	width: 100px;
	height: 100px;
}

.svg-A010-Mobile {
	@extend %svg-common;
	background-position: 55.248618784530386% 83.66013071895425%;
}

.svg-A010-Mobile-dims {
	width: 100px;
	height: 100px;
}

.svg-A011-Desktop {
	@extend %svg-common;
	background-position: 0 83.66013071895425%;
}

.svg-A011-Desktop-dims {
	width: 100px;
	height: 100px;
}

.svg-B001-Full {
	@extend %svg-common;
	background-position: 86.03465851172272% 74.4186046511628%;
}

.svg-B001-Full-dims {
	width: 24px;
	height: 24px;
}

.svg-B002-Boxed {
	@extend %svg-common;
	background-position: 90.927624872579% 74.4186046511628%;
}

.svg-B002-Boxed-dims {
	width: 24px;
	height: 24px;
}

.svg-B003-Text {
	@extend %svg-common;
	background-position: 71.35575942915392% 74.4186046511628%;
}

.svg-B003-Text-dims {
	width: 24px;
	height: 24px;
}

.svg-B004-Video {
	@extend %svg-common;
	background-position: 78.69520897043833% 74.4186046511628%;
}

.svg-B004-Video-dims {
	width: 24px;
	height: 24px;
}

.svg-B005-Empty {
	@extend %svg-common;
	background-position: 93.37410805300713% 74.4186046511628%;
}

.svg-B005-Empty-dims {
	width: 24px;
	height: 24px;
}

.svg-B005-RexModel {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-B005-RexModel-dims {
	width: 512px;
	height: 512px;
}

.svg-B006-Colapse {
	@extend %svg-common;
	background-position: 22.099447513812155% 100%;
}

.svg-B006-Colapse-dims {
	width: 100px;
	height: 100px;
}

.svg-B007-Move {
	@extend %svg-common;
	background-position: 99.88294966835738% 0;
}

.svg-B007-Move-dims {
	width: 492.4px;
	height: 492.4px;
}

.svg-B008-Lock-Close {
	@extend %svg-common;
	background-position: 73.80224260958205% 74.4186046511628%;
}

.svg-B008-Lock-Close-dims {
	width: 24px;
	height: 24px;
}

.svg-B009-Lock-Open {
	@extend %svg-common;
	background-position: 76.2487257900102% 74.4186046511628%;
}

.svg-B009-Lock-Open-dims {
	width: 24px;
	height: 24px;
}

.svg-B010-Masonry {
	@extend %svg-common;
	background-position: 95.43147208121827% 73.98843930635839%;
}

.svg-B010-Masonry-dims {
	width: 20px;
	height: 20px;
}

.svg-Z001-Plus {
	@extend %svg-common;
	background-position: 55.248618784530386% 100%;
}

.svg-Z001-Plus-dims {
	width: 100px;
	height: 100px;
}

.svg-Z002-Image-Full {
	@extend %svg-common;
	background-position: 83.5881753312946% 74.4186046511628%;
}

.svg-Z002-Image-Full-dims {
	width: 24px;
	height: 24px;
}

.svg-Z003-Close {
	@extend %svg-common;
	background-position: 66.29834254143647% 100%;
}

.svg-Z003-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-Z003-RexSlider {
	@extend %svg-common;
	background-position: 88.48114169215087% 74.4186046511628%;
}

.svg-Z003-RexSlider-dims {
	width: 24px;
	height: 24px;
}

.svg-Z004-Copy {
	@extend %svg-common;
	background-position: 77.34806629834254% 100%;
}

.svg-Z004-Copy-dims {
	width: 100px;
	height: 100px;
}

.svg-Z005-Setting {
	@extend %svg-common;
	background-position: 44.19889502762431% 100%;
}

.svg-Z005-Setting-dims {
	width: 100px;
	height: 100px;
}

.svg-Z006-Video {
	@extend %svg-common;
	background-position: 81.14169215086646% 74.4186046511628%;
}

.svg-Z006-Video-dims {
	width: 24px;
	height: 24px;
}

