%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-A001-Tablet {
	@extend %svg-common;
	background-position: 0 71.91011235955057%;
}

.svg-A001-Tablet-dims {
	width: 100px;
	height: 100px;
}

.svg-A002-Redo {
	@extend %svg-common;
	background-position: 11.049723756906078% 85.95505617977528%;
}

.svg-A002-Redo-dims {
	width: 100px;
	height: 100px;
}

.svg-A003-Undo {
	@extend %svg-common;
	background-position: 33.149171270718234% 81.92771084337349%;
}

.svg-A003-Undo-dims {
	width: 100px;
	height: 65px;
}

.svg-A005-Save-Minimal {
	@extend %svg-common;
	background-position: 11.049723756906078% 71.91011235955057%;
}

.svg-A005-Save-Minimal-dims {
	width: 100px;
	height: 100px;
}

.svg-A006-Save {
	@extend %svg-common;
	background-position: 22.099447513812155% 71.91011235955057%;
}

.svg-A006-Save-dims {
	width: 100px;
	height: 100px;
}

.svg-A007-Close {
	@extend %svg-common;
	background-position: 33.149171270718234% 71.91011235955057%;
}

.svg-A007-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-A008-Code {
	@extend %svg-common;
	background-position: 44.19889502762431% 71.91011235955057%;
}

.svg-A008-Code-dims {
	width: 100px;
	height: 100px;
}

.svg-A009-Range {
	@extend %svg-common;
	background-position: 55.248618784530386% 71.91011235955057%;
}

.svg-A009-Range-dims {
	width: 100px;
	height: 100px;
}

.svg-A010-Mobile {
	@extend %svg-common;
	background-position: 66.29834254143647% 71.91011235955057%;
}

.svg-A010-Mobile-dims {
	width: 100px;
	height: 100px;
}

.svg-A011-Desktop {
	@extend %svg-common;
	background-position: 77.34806629834254% 71.91011235955057%;
}

.svg-A011-Desktop-dims {
	width: 100px;
	height: 100px;
}

.svg-B001-Full {
	@extend %svg-common;
	background-position: 57.90010193679918% 77.66497461928934%;
}

.svg-B001-Full-dims {
	width: 24px;
	height: 24px;
}

.svg-B002-Boxed {
	@extend %svg-common;
	background-position: 53.00713557594292% 77.66497461928934%;
}

.svg-B002-Boxed-dims {
	width: 24px;
	height: 24px;
}

.svg-B003-Text {
	@extend %svg-common;
	background-position: 48.11416921508665% 77.66497461928934%;
}

.svg-B003-Text-dims {
	width: 24px;
	height: 24px;
}

.svg-B004-Video {
	@extend %svg-common;
	background-position: 60.34658511722732% 77.66497461928934%;
}

.svg-B004-Video-dims {
	width: 24px;
	height: 24px;
}

.svg-B005-Empty {
	@extend %svg-common;
	background-position: 40.774719673802245% 77.66497461928934%;
}

.svg-B005-Empty-dims {
	width: 24px;
	height: 24px;
}

.svg-B005-RexModel {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-B005-RexModel-dims {
	width: 512px;
	height: 512px;
}

.svg-B006-Colapse {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-B006-Colapse-dims {
	width: 100px;
	height: 100px;
}

.svg-B007-Move {
	@extend %svg-common;
	background-position: 99.88294966835738% 0;
}

.svg-B007-Move-dims {
	width: 492.4px;
	height: 492.4px;
}

.svg-B008-Lock-Close {
	@extend %svg-common;
	background-position: 43.22120285423038% 77.66497461928934%;
}

.svg-B008-Lock-Close-dims {
	width: 24px;
	height: 24px;
}

.svg-B009-Lock-Open {
	@extend %svg-common;
	background-position: 45.66768603465851% 77.66497461928934%;
}

.svg-B009-Lock-Open-dims {
	width: 24px;
	height: 24px;
}

.svg-Z001-Plus {
	@extend %svg-common;
	background-position: 0 85.95505617977528%;
}

.svg-Z001-Plus-dims {
	width: 100px;
	height: 100px;
}

.svg-Z002-Image-Full {
	@extend %svg-common;
	background-position: 50.56065239551478% 77.66497461928934%;
}

.svg-Z002-Image-Full-dims {
	width: 24px;
	height: 24px;
}

.svg-Z003-Close {
	@extend %svg-common;
	background-position: 99.4475138121547% 71.91011235955057%;
}

.svg-Z003-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-Z003-RexSlider {
	@extend %svg-common;
	background-position: 55.45361875637105% 77.66497461928934%;
}

.svg-Z003-RexSlider-dims {
	width: 24px;
	height: 24px;
}

.svg-Z004-Copy {
	@extend %svg-common;
	background-position: 88.39779005524862% 71.91011235955057%;
}

.svg-Z004-Copy-dims {
	width: 100px;
	height: 100px;
}

.svg-Z005-Setting {
	@extend %svg-common;
	background-position: 22.099447513812155% 85.95505617977528%;
}

.svg-Z005-Setting-dims {
	width: 100px;
	height: 100px;
}

