%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-A001-Tablet {
	@extend %svg-common;
	background-position: 96.65011286681717% 68.58467983243567%;
}

.svg-A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-A002-Redo {
	@extend %svg-common;
	background-position: 99.35891647855532% 72.17534410532615%;
}

.svg-A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-A003-Undo {
	@extend %svg-common;
	background-position: 96.65011286681717% 73.37223219628964%;
}

.svg-A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save {
	@extend %svg-common;
	background-position: 99.35891647855532% 68.58467983243567%;
}

.svg-A006-Save-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save-Clear {
	@extend %svg-common;
	background-position: 99.35891647855532% 67.38779174147217%;
}

.svg-A006-Save-Clear-dims {
	width: 20px;
	height: 20px;
}

.svg-A007-Close {
	@extend %svg-common;
	background-position: 98.45598194130926% 67.38779174147217%;
}

.svg-A007-Close-dims {
	width: 20px;
	height: 20px;
}

.svg-A008-Code {
	@extend %svg-common;
	background-position: 97.55304740406322% 67.38779174147217%;
}

.svg-A008-Code-dims {
	width: 20px;
	height: 20px;
}

.svg-A009-Range {
	@extend %svg-common;
	background-position: 98.45598194130926% 64.99401555954518%;
}

.svg-A009-Range-dims {
	width: 20px;
	height: 20px;
}

.svg-A010-Mobile {
	@extend %svg-common;
	background-position: 97.55304740406322% 64.99401555954518%;
}

.svg-A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-A011-Desktop {
	@extend %svg-common;
	background-position: 96.65011286681717% 64.99401555954518%;
}

.svg-A011-Desktop-dims {
	width: 20px;
	height: 20px;
}

.svg-A012-Models-List {
	@extend %svg-common;
	background-position: 99.35891647855532% 63.797127468581685%;
}

.svg-A012-Models-List-dims {
	width: 20px;
	height: 20px;
}

.svg-A013-Template-Import {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-A013-Template-Import-dims {
	width: 612px;
	height: 612px;
}

.svg-B001-Full {
	@extend %svg-common;
	background-position: 98.45598194130926% 63.797127468581685%;
}

.svg-B001-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-B002-Boxed {
	@extend %svg-common;
	background-position: 97.55304740406322% 63.797127468581685%;
}

.svg-B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-B003-Text {
	@extend %svg-common;
	background-position: 96.65011286681717% 63.797127468581685%;
}

.svg-B003-Text-dims {
	width: 20px;
	height: 20px;
}

.svg-B005-RexModel {
	@extend %svg-common;
	background-position: 99.35891647855532% 62.600239377618195%;
}

.svg-B005-RexModel-dims {
	width: 20px;
	height: 20px;
}

.svg-B006-Collapse {
	@extend %svg-common;
	background-position: 98.45598194130926% 62.600239377618195%;
}

.svg-B006-Collapse-dims {
	width: 20px;
	height: 20px;
}

.svg-B007-Move {
	@extend %svg-common;
	background-position: 97.55304740406322% 62.600239377618195%;
}

.svg-B007-Move-dims {
	width: 20px;
	height: 20px;
}

.svg-B010-Masonry {
	@extend %svg-common;
	background-position: 96.65011286681717% 62.600239377618195%;
}

.svg-B010-Masonry-dims {
	width: 20px;
	height: 20px;
}

.svg-B011-Grid {
	@extend %svg-common;
	background-position: 97.55304740406322% 73.37223219628964%;
}

.svg-B011-Grid-dims {
	width: 20px;
	height: 20px;
}

.svg-B012-Full-Height {
	@extend %svg-common;
	background-position: 98.45598194130926% 72.17534410532615%;
}

.svg-B012-Full-Height-dims {
	width: 20px;
	height: 20px;
}

.svg-B013-Row-ID {
	@extend %svg-common;
	background-position: 97.55304740406322% 72.17534410532615%;
}

.svg-B013-Row-ID-dims {
	width: 20px;
	height: 20px;
}

.svg-B014-Closed {
	@extend %svg-common;
	background-position: 96.65011286681717% 72.17534410532615%;
}

.svg-B014-Closed-dims {
	width: 20px;
	height: 20px;
}

.svg-B015-UnClosed {
	@extend %svg-common;
	background-position: 99.35891647855532% 70.97845601436266%;
}

.svg-B015-UnClosed-dims {
	width: 20px;
	height: 20px;
}

.svg-B016-New-Adjacent-Row {
	@extend %svg-common;
	background-position: 96.65011286681717% 70.97845601436266%;
}

.svg-B016-New-Adjacent-Row-dims {
	width: 20px;
	height: 20px;
}

.svg-B017-Grid-Layout {
	@extend %svg-common;
	background-position: 99.35891647855532% 66.19090365050867%;
}

.svg-B017-Grid-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-B018-Mail {
	@extend %svg-common;
	background-position: 94.88043478260872% 72.79706790123457%;
}

.svg-B018-Mail-dims {
	width: 395px;
	height: 395px;
}

.svg-B018-Mobile-Grid {
	@extend %svg-common;
	background-position: 96.82496607869743% 59.991001799640074%;
}

.svg-B018-Mobile-Grid-dims {
	width: 24px;
	height: 24px;
}

.svg-B019-Error {
	@extend %svg-common;
	background-position: 99.95705820045234% 0;
}

.svg-B019-Error-dims {
	width: 488.45px;
	height: 488.45px;
}

.svg-B020-Checked {
	@extend %svg-common;
	background-position: 98.07865168539327% 39.51860841423948%;
}

.svg-B020-Checked-dims {
	width: 455px;
	height: 455px;
}

.svg-B021-Form-Background {
	@extend %svg-common;
	background-position: 97.01364027733722% 56.74204606964575%;
}

.svg-B021-Form-Background-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B022-Form-Border {
	@extend %svg-common;
	background-position: 98.29609824625008% 56.74204606964575%;
}

.svg-B022-Form-Border-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B023-Input-Text {
	@extend %svg-common;
	background-position: 99.57855621516295% 56.74204606964575%;
}

.svg-B023-Input-Text-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B024-Input-Text-Hover {
	@extend %svg-common;
	background-position: 97.01364027733722% 58.44409695074277%;
}

.svg-B024-Input-Text-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B025-Input-Background {
	@extend %svg-common;
	background-position: 99.7326324375765% 51.503578516870114%;
}

.svg-B025-Input-Background-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B026-Input-Background-Hover {
	@extend %svg-common;
	background-position: 99.7326324375765% 48.099476754676104%;
}

.svg-B026-Input-Background-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B027-Input-Border {
	@extend %svg-common;
	background-position: 99.7326324375765% 46.39742587357909%;
}

.svg-B027-Input-Border-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B028-Input-Border-Hover {
	@extend %svg-common;
	background-position: 99.7326324375765% 44.69537499248209%;
}

.svg-B028-Input-Border-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B029-Input-Text-Area {
	@extend %svg-common;
	background-position: 99.7326324375765% 42.99332411138508%;
}

.svg-B029-Input-Text-Area-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B030-Input-Select {
	@extend %svg-common;
	background-position: 99.7326324375765% 41.29127323028807%;
}

.svg-B030-Input-Select-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B031-Input-Radio {
	@extend %svg-common;
	background-position: 99.7326324375765% 39.589222349191054%;
}

.svg-B031-Input-Radio-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B032-Input-Checkbox {
	@extend %svg-common;
	background-position: 99.7326324375765% 49.80152763577311%;
}

.svg-B032-Input-Checkbox-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B033-Input-Upload {
	@extend %svg-common;
	background-position: 99.7326324375765% 37.88717146809405%;
}

.svg-B033-Input-Upload-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B034-Input-Button {
	@extend %svg-common;
	background-position: 99.7326324375765% 36.185120586997044%;
}

.svg-B034-Input-Button-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B035-Input-Number {
	@extend %svg-common;
	background-position: 99.7326324375765% 34.483069705900036%;
}

.svg-B035-Input-Number-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B036-Input-Obligatory {
	@extend %svg-common;
	background-position: 99.7326324375765% 32.78101882480303%;
}

.svg-B036-Input-Obligatory-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B037-Input-Text-Focus {
	@extend %svg-common;
	background-position: 99.7326324375765% 31.07896794370602%;
}

.svg-B037-Input-Text-Focus-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B038-Input-Text-Placeholder {
	@extend %svg-common;
	background-position: 99.7326324375765% 29.37691706260901%;
}

.svg-B038-Input-Text-Placeholder-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B039-Input-Text-Placeholder-Hover {
	@extend %svg-common;
	background-position: 99.7326324375765% 54.90768027906414%;
}

.svg-B039-Input-Text-Placeholder-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B040-Input-Dimension-File {
	@extend %svg-common;
	background-position: 99.7326324375765% 53.20562939796712%;
}

.svg-B040-Input-Dimension-File-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B041-One-Column {
	@extend %svg-common;
	background-position: 0 54.443554843875106%;
}

.svg-B041-One-Column-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-B042-Two-Columns {
	@extend %svg-common;
	background-position: 33.98477309513818% 54.443554843875106%;
}

.svg-B042-Two-Columns-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-B043-Three-Columns {
	@extend %svg-common;
	background-position: 36.68844793477609% 0;
}

.svg-B043-Three-Columns-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-B044-Four-Columns {
	@extend %svg-common;
	background-position: 70.67322102991429% 0;
}

.svg-B044-Four-Columns-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-B045-Row-Label {
	@extend %svg-common;
	background-position: 99.35891647855532% 64.99401555954518%;
}

.svg-B045-Row-Label-dims {
	width: 20px;
	height: 20px;
}

.svg-C001-Link {
	@extend %svg-common;
	background-position: 96.65011286681717% 66.19090365050867%;
}

.svg-C001-Link-dims {
	width: 20px;
	height: 20px;
}

.svg-C002-No-Select {
	@extend %svg-common;
	background-position: 97.55304740406322% 66.19090365050867%;
}

.svg-C002-No-Select-dims {
	width: 20px;
	height: 20px;
}

.svg-C003-Image-Full {
	@extend %svg-common;
	background-position: 98.45598194130926% 66.19090365050867%;
}

.svg-C003-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-C004-Image-Natural {
	@extend %svg-common;
	background-position: 98.45598194130926% 73.37223219628964%;
}

.svg-C004-Image-Natural-dims {
	width: 20px;
	height: 20px;
}

.svg-C005-Layout {
	@extend %svg-common;
	background-position: 96.65011286681717% 67.38779174147217%;
}

.svg-C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-C006-Insert-Icon {
	@extend %svg-common;
	background-position: 29.51008645533141% 98.98404701931152%;
}

.svg-C006-Insert-Icon-dims {
	width: 500px;
	height: 500px;
}

.svg-C007-Open-Box {
	@extend %svg-common;
	background-position: 58.328530259366% 98.98404701931152%;
}

.svg-C007-Open-Box-dims {
	width: 500px;
	height: 500px;
}

.svg-C008-Star {
	@extend %svg-common;
	background-position: 90.50285121824781% 96.63898916967509%;
}

.svg-C008-Star-dims {
	width: 306px;
	height: 306px;
}

.svg-D001-Radius {
	@extend %svg-common;
	background-position: 96.7374604609128% 61.35710005991612%;
}

.svg-D001-Radius-dims {
	width: 22px;
	height: 22px;
}

.svg-Z001-Plus {
	@extend %svg-common;
	background-position: 97.55304740406322% 68.58467983243567%;
}

.svg-Z001-Plus-dims {
	width: 20px;
	height: 20px;
}

.svg-Z002-Image-Full {
	@extend %svg-common;
	background-position: 98.45598194130926% 68.58467983243567%;
}

.svg-Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-Z003-Close {
	@extend %svg-common;
	background-position: 96.10304449648713% 84.12633563796355%;
}

.svg-Z003-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-Z003-RexSlider {
	@extend %svg-common;
	background-position: 96.65011286681717% 69.78156792339917%;
}

.svg-Z003-RexSlider-dims {
	width: 20px;
	height: 20px;
}

.svg-Z004-Copy {
	@extend %svg-common;
	background-position: 97.55304740406322% 69.78156792339917%;
}

.svg-Z004-Copy-dims {
	width: 20px;
	height: 20px;
}

.svg-Z005-Setting {
	@extend %svg-common;
	background-position: 98.45598194130926% 69.78156792339917%;
}

.svg-Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

.svg-Z006-Video {
	@extend %svg-common;
	background-position: 99.35891647855532% 69.78156792339917%;
}

.svg-Z006-Video-dims {
	width: 20px;
	height: 20px;
}

.svg-Z007-Zoom {
	@extend %svg-common;
	background-position: 99.67479674796749% 61.32035928143713%;
}

.svg-Z007-Zoom-dims {
	width: 21px;
	height: 21px;
}

.svg-Z008-Edit {
	@extend %svg-common;
	background-position: 97.55304740406322% 70.97845601436266%;
}

.svg-Z008-Edit-dims {
	width: 20px;
	height: 20px;
}

.svg-Z009-More {
	@extend %svg-common;
	background-position: 98.45598194130926% 70.97845601436266%;
}

.svg-Z009-More-dims {
	width: 20px;
	height: 20px;
}

.svg-Z010-Logo {
	@extend %svg-common;
	background-position: 97.91044776119405% 59.45600475624257%;
}

.svg-Z010-Logo-dims {
	width: 24px;
	height: 9px;
}

.svg-Z011-Arrow {
	@extend %svg-common;
	background-position: 99.90419107706175% 58.2583932853717%;
}

.svg-Z011-Arrow-dims {
	width: 16px;
	height: 23px;
}

.svg-Z012-HeightBars {
	@extend %svg-common;
	background-position: 99.18167042889391% 58.36336336336336%;
}

.svg-Z012-HeightBars-dims {
	width: 20px;
	height: 26px;
}

.svg-Z012-Page {
	@extend %svg-common;
	background-position: 97.73158608224132% 61.35710005991612%;
}

.svg-Z012-Page-dims {
	width: 22px;
	height: 22px;
}

.svg-Z013-Pages {
	@extend %svg-common;
	background-position: 98.72571170356983% 61.35710005991612%;
}

.svg-Z013-Pages-dims {
	width: 22px;
	height: 22px;
}

.svg-Z014-Refresh {
	@extend %svg-common;
	background-position: 68.4213580963436% 48.08312128922816%;
}

.svg-Z014-Refresh-dims {
	width: 512px;
	height: 512px;
}

.svg-Z015-Question-Mark-Sign {
	@extend %svg-common;
	background-position: 98.2726734824617% 58.425613837205525%;
}

.svg-Z015-Question-Mark-Sign-dims {
	width: 27.774px;
	height: 27.774px;
}

.svg-Z016-Warning {
	@extend %svg-common;
	background-position: 0 99.99151823579305%;
}

.svg-Z016-Warning-dims {
	width: 512px;
	height: 512px;
}

