%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-A001-Tablet {
	@extend %svg-common;
	background-position: 93.7914464199904% 60.09913258983891%;
}

.svg-A001-Tablet-dims {
	width: 20px;
	height: 20px;
}

.svg-A002-Redo {
	@extend %svg-common;
	background-position: 93.7914464199904% 62.57744733581165%;
}

.svg-A002-Redo-dims {
	width: 20px;
	height: 20px;
}

.svg-A003-Undo {
	@extend %svg-common;
	background-position: 95.71359923113887% 62.57744733581165%;
}

.svg-A003-Undo-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save {
	@extend %svg-common;
	background-position: 96.67467563671312% 60.09913258983891%;
}

.svg-A006-Save-dims {
	width: 20px;
	height: 20px;
}

.svg-A006-Save-Clear {
	@extend %svg-common;
	background-position: 99.55790485343586% 58.85997521685254%;
}

.svg-A006-Save-Clear-dims {
	width: 20px;
	height: 20px;
}

.svg-A007-Close {
	@extend %svg-common;
	background-position: 98.59682844786163% 58.85997521685254%;
}

.svg-A007-Close-dims {
	width: 20px;
	height: 20px;
}

.svg-A008-Code {
	@extend %svg-common;
	background-position: 97.63575204228736% 58.85997521685254%;
}

.svg-A008-Code-dims {
	width: 20px;
	height: 20px;
}

.svg-A009-Range {
	@extend %svg-common;
	background-position: 98.59682844786163% 57.62081784386617%;
}

.svg-A009-Range-dims {
	width: 20px;
	height: 20px;
}

.svg-A010-Mobile {
	@extend %svg-common;
	background-position: 99.55790485343586% 56.3816604708798%;
}

.svg-A010-Mobile-dims {
	width: 20px;
	height: 20px;
}

.svg-A011-Desktop {
	@extend %svg-common;
	background-position: 98.59682844786163% 56.3816604708798%;
}

.svg-A011-Desktop-dims {
	width: 20px;
	height: 20px;
}

.svg-A012-Models-List {
	@extend %svg-common;
	background-position: 99.55790485343586% 55.14250309789343%;
}

.svg-A012-Models-List-dims {
	width: 20px;
	height: 20px;
}

.svg-B001-Full {
	@extend %svg-common;
	background-position: 98.59682844786163% 55.14250309789343%;
}

.svg-B001-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-B002-Boxed {
	@extend %svg-common;
	background-position: 99.55790485343586% 53.90334572490706%;
}

.svg-B002-Boxed-dims {
	width: 20px;
	height: 20px;
}

.svg-B003-Text {
	@extend %svg-common;
	background-position: 98.59682844786163% 53.90334572490706%;
}

.svg-B003-Text-dims {
	width: 20px;
	height: 20px;
}

.svg-B005-RexModel {
	@extend %svg-common;
	background-position: 99.55790485343586% 52.66418835192069%;
}

.svg-B005-RexModel-dims {
	width: 20px;
	height: 20px;
}

.svg-B006-Collapse {
	@extend %svg-common;
	background-position: 98.59682844786163% 52.66418835192069%;
}

.svg-B006-Collapse-dims {
	width: 20px;
	height: 20px;
}

.svg-B007-Move {
	@extend %svg-common;
	background-position: 99.99038923594428% 50.61957868649316%;
}

.svg-B007-Move-dims {
	width: 20px;
	height: 20px;
}

.svg-B010-Masonry {
	@extend %svg-common;
	background-position: 99.02931283037003% 50.61957868649316%;
}

.svg-B010-Masonry-dims {
	width: 20px;
	height: 20px;
}

.svg-B011-Grid {
	@extend %svg-common;
	background-position: 98.06823642479577% 50.61957868649316%;
}

.svg-B011-Grid-dims {
	width: 20px;
	height: 20px;
}

.svg-B012-Full-Height {
	@extend %svg-common;
	background-position: 94.75252282556463% 62.57744733581165%;
}

.svg-B012-Full-Height-dims {
	width: 20px;
	height: 20px;
}

.svg-B013-Row-ID {
	@extend %svg-common;
	background-position: 99.55790485343586% 61.33828996282528%;
}

.svg-B013-Row-ID-dims {
	width: 20px;
	height: 20px;
}

.svg-B014-Closed {
	@extend %svg-common;
	background-position: 98.59682844786163% 61.33828996282528%;
}

.svg-B014-Closed-dims {
	width: 20px;
	height: 20px;
}

.svg-B015-UnClosed {
	@extend %svg-common;
	background-position: 97.63575204228736% 61.33828996282528%;
}

.svg-B015-UnClosed-dims {
	width: 20px;
	height: 20px;
}

.svg-B016-New-Adjacent-Row {
	@extend %svg-common;
	background-position: 94.75252282556463% 61.33828996282528%;
}

.svg-B016-New-Adjacent-Row-dims {
	width: 20px;
	height: 20px;
}

.svg-B017-Grid-Layout {
	@extend %svg-common;
	background-position: 95.71359923113887% 58.85997521685254%;
}

.svg-B017-Grid-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-B018-Mail {
	@extend %svg-common;
	background-position: 96.47127784290738% 36.72316384180791%;
}

.svg-B018-Mail-dims {
	width: 395px;
	height: 395px;
}

.svg-B018-Mobile-Grid {
	@extend %svg-common;
	background-position: 99.22002888781898% 45.83850931677017%;
}

.svg-B018-Mobile-Grid-dims {
	width: 24px;
	height: 24px;
}

.svg-B019-Error {
	@extend %svg-common;
	background-position: 62.013580974233356% 98.97429182488762%;
}

.svg-B019-Error-dims {
	width: 488.45px;
	height: 488.45px;
}

.svg-B020-Checked {
	@extend %svg-common;
	background-position: 99.98784933171325% 0;
}

.svg-B020-Checked-dims {
	width: 455px;
	height: 455px;
}

.svg-B021-Form-Background {
	@extend %svg-common;
	background-position: 98.46094466155257% 42.43632060783457%;
}

.svg-B021-Form-Background-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B022-Form-Border {
	@extend %svg-common;
	background-position: 99.82631350412507% 42.43632060783457%;
}

.svg-B022-Form-Border-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B023-Input-Text {
	@extend %svg-common;
	background-position: 98.46094466155257% 44.198791804197526%;
}

.svg-B023-Input-Text-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B024-Input-Text-Hover {
	@extend %svg-common;
	background-position: 99.82631350412507% 44.198791804197526%;
}

.svg-B024-Input-Text-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B025-Input-Background {
	@extend %svg-common;
	background-position: 99.82631350412507% 38.91137821510866%;
}

.svg-B025-Input-Background-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B026-Input-Background-Hover {
	@extend %svg-common;
	background-position: 99.82631350412507% 37.14890701874571%;
}

.svg-B026-Input-Background-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B027-Input-Border {
	@extend %svg-common;
	background-position: 98.46094466155257% 37.14890701874571%;
}

.svg-B027-Input-Border-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B028-Input-Border-Hover {
	@extend %svg-common;
	background-position: 99.82631350412507% 35.38643582238276%;
}

.svg-B028-Input-Border-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B029-Input-Text-Area {
	@extend %svg-common;
	background-position: 98.46094466155257% 35.38643582238276%;
}

.svg-B029-Input-Text-Area-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B030-Input-Select {
	@extend %svg-common;
	background-position: 99.82631350412507% 33.623964626019806%;
}

.svg-B030-Input-Select-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B031-Input-Radio {
	@extend %svg-common;
	background-position: 98.46094466155257% 38.91137821510866%;
}

.svg-B031-Input-Radio-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B032-Input-Checkbox {
	@extend %svg-common;
	background-position: 98.46094466155257% 33.623964626019806%;
}

.svg-B032-Input-Checkbox-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B033-Input-Upload {
	@extend %svg-common;
	background-position: 99.82631350412507% 31.861493429656846%;
}

.svg-B033-Input-Upload-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B034-Input-Button {
	@extend %svg-common;
	background-position: 98.46094466155257% 31.861493429656846%;
}

.svg-B034-Input-Button-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B035-Input-Number {
	@extend %svg-common;
	background-position: 99.82631350412507% 30.09902223329389%;
}

.svg-B035-Input-Number-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B036-Input-Obligatory {
	@extend %svg-common;
	background-position: 98.46094466155257% 30.09902223329389%;
}

.svg-B036-Input-Obligatory-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B037-Input-Text-Focus {
	@extend %svg-common;
	background-position: 99.82631350412507% 28.33655103693093%;
}

.svg-B037-Input-Text-Focus-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B038-Input-Text-Placeholder {
	@extend %svg-common;
	background-position: 98.46094466155257% 28.33655103693093%;
}

.svg-B038-Input-Text-Placeholder-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B039-Input-Text-Placeholder-Hover {
	@extend %svg-common;
	background-position: 99.82631350412507% 40.673849411471615%;
}

.svg-B039-Input-Text-Placeholder-Hover-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B040-Input-Dimension-File {
	@extend %svg-common;
	background-position: 98.46094466155257% 40.673849411471615%;
}

.svg-B040-Input-Dimension-File-dims {
	width: 28.3px;
	height: 28.3px;
}

.svg-B041-One-Column {
	@extend %svg-common;
	background-position: 36.95326249918519% 0;
}

.svg-B041-One-Column-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-B042-Two-Columns {
	@extend %svg-common;
	background-position: 0 53.12529284977978%;
}

.svg-B042-Two-Columns-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-B043-Three-Columns {
	@extend %svg-common;
	background-position: 36.95326249918519% 53.12529284977978%;
}

.svg-B043-Three-Columns-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-B044-Four-Columns {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-B044-Four-Columns-dims {
	width: 566.9px;
	height: 566.9px;
}

.svg-C001-Link {
	@extend %svg-common;
	background-position: 99.55790485343586% 57.62081784386617%;
}

.svg-C001-Link-dims {
	width: 20px;
	height: 20px;
}

.svg-C002-No-Select {
	@extend %svg-common;
	background-position: 93.7914464199904% 58.85997521685254%;
}

.svg-C002-No-Select-dims {
	width: 20px;
	height: 20px;
}

.svg-C003-Image-Full {
	@extend %svg-common;
	background-position: 94.75252282556463% 58.85997521685254%;
}

.svg-C003-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-C004-Image-Natural {
	@extend %svg-common;
	background-position: 96.67467563671312% 62.57744733581165%;
}

.svg-C004-Image-Natural-dims {
	width: 20px;
	height: 20px;
}

.svg-C005-Layout {
	@extend %svg-common;
	background-position: 96.67467563671312% 58.85997521685254%;
}

.svg-C005-Layout-dims {
	width: 20px;
	height: 20px;
}

.svg-C006-Insert-Icon {
	@extend %svg-common;
	background-position: 0 99.98236331569665%;
}

.svg-C006-Insert-Icon-dims {
	width: 500px;
	height: 500px;
}

.svg-C007-Open-Box {
	@extend %svg-common;
	background-position: 31.23048094940662% 99.98236331569665%;
}

.svg-C007-Open-Box-dims {
	width: 500px;
	height: 500px;
}

.svg-C008-Star {
	@extend %svg-common;
	background-position: 91.68802228412257% 64.00602409638554%;
}

.svg-C008-Star-dims {
	width: 306px;
	height: 306px;
}

.svg-D001-Radius {
	@extend %svg-common;
	background-position: 98.16257816257816% 47.95285359801487%;
}

.svg-D001-Radius-dims {
	width: 22px;
	height: 22px;
}

.svg-Z001-Plus {
	@extend %svg-common;
	background-position: 94.75252282556463% 60.09913258983891%;
}

.svg-Z001-Plus-dims {
	width: 20px;
	height: 20px;
}

.svg-Z002-Image-Full {
	@extend %svg-common;
	background-position: 95.71359923113887% 60.09913258983891%;
}

.svg-Z002-Image-Full-dims {
	width: 20px;
	height: 20px;
}

.svg-Z003-Close {
	@extend %svg-common;
	background-position: 97.54122938530735% 55.410691003911346%;
}

.svg-Z003-Close-dims {
	width: 100px;
	height: 100px;
}

.svg-Z003-RexSlider {
	@extend %svg-common;
	background-position: 97.63575204228736% 60.09913258983891%;
}

.svg-Z003-RexSlider-dims {
	width: 20px;
	height: 20px;
}

.svg-Z004-Copy {
	@extend %svg-common;
	background-position: 98.59682844786163% 60.09913258983891%;
}

.svg-Z004-Copy-dims {
	width: 20px;
	height: 20px;
}

.svg-Z005-Setting {
	@extend %svg-common;
	background-position: 99.55790485343586% 60.09913258983891%;
}

.svg-Z005-Setting-dims {
	width: 20px;
	height: 20px;
}

.svg-Z006-Video {
	@extend %svg-common;
	background-position: 93.7914464199904% 61.33828996282528%;
}

.svg-Z006-Video-dims {
	width: 20px;
	height: 20px;
}

.svg-Z007-Zoom {
	@extend %svg-common;
	background-position: 99.17307692307693% 49.287042777433335%;
}

.svg-Z007-Zoom-dims {
	width: 21px;
	height: 21px;
}

.svg-Z008-Edit {
	@extend %svg-common;
	background-position: 95.71359923113887% 61.33828996282528%;
}

.svg-Z008-Edit-dims {
	width: 20px;
	height: 20px;
}

.svg-Z009-More {
	@extend %svg-common;
	background-position: 96.67467563671312% 61.33828996282528%;
}

.svg-Z009-More-dims {
	width: 20px;
	height: 20px;
}

.svg-Z010-Logo {
	@extend %svg-common;
	background-position: 98.25710158883004% 47.0153846153846%;
}

.svg-Z010-Logo-dims {
	width: 24px;
	height: 9px;
}

.svg-Z011-Arrow {
	@extend %svg-common;
	background-position: 99.99040767386093% 45.81005586592177%;
}

.svg-Z011-Arrow-dims {
	width: 16px;
	height: 23px;
}

.svg-Z012-HeightBars {
	@extend %svg-common;
	background-position: 98.06823642479577% 45.89552238805968%;
}

.svg-Z012-HeightBars-dims {
	width: 20px;
	height: 26px;
}

.svg-Z012-Page {
	@extend %svg-common;
	background-position: 99.22077922077924% 47.95285359801487%;
}

.svg-Z012-Page-dims {
	width: 22px;
	height: 22px;
}

.svg-Z013-Pages {
	@extend %svg-common;
	background-position: 98.16257816257816% 49.317617866004944%;
}

.svg-Z013-Pages-dims {
	width: 22px;
	height: 22px;
}

.svg-Z014-Refresh {
	@extend %svg-common;
	background-position: 71.3530522341095% 45.632798573975045%;
}

.svg-Z014-Refresh-dims {
	width: 512px;
	height: 512px;
}

.svg-refresh_copia {
	@extend %svg-common;
	background-position: 71.3530522341095% 0;
}

.svg-refresh_copia-dims {
	width: 512px;
	height: 512px;
}

