.perfect-grid-item.focused,
.grid-stack-item.focused {
  overflow: visible;
  z-index: 2;
  outline: 1px solid $palette-color-3;
  -webkit-box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
}

.perfect-grid-item.focused > .ui-resizable-handle,
.grid-stack-item.focused.ui-resizable-handle {
  visibility: visible;
}

.gridActive > .grid-stack-item.focused:hover {
  cursor: move;
}
