::selection {
  color: red;
  background: yellow;
}

.medium-insert-images.medium-insert-images-left,
.medium-insert-images-left.mediumInsert,
.mediumInsert.small {
  max-width: 100%;
}

.medium-insert-images.medium-insert-images-right,
.medium-insert-images-right.mediumInsert,
.mediumInsert.small {
  max-width: 100%;
}

.medium-insert-images figure,
.mediumInsert figure,
.medium-insert-embeds figure,
.mediumInsert-embeds figure {
  display: inline-block;
}

.image-text-wrap {
  width: 100%;
  height: 100%;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.perfect-grid-item .full-image-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.perfect-grid-item .natural-image-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

.natural-image-background.small-width {
  background-size: 100%;
}

// .builder-section-config {
//   // left: 10%;
//   // cursor: pointer;
// }

.backend-edited .collapse-grid {
  display: none;
}

.tool-button.tool-button--flat {
  &.collapse-grid {
    @include fill-icon(rgba(255, 255, 255, 0.5));
    // left: 25%;
    &.grid-collapsed {
      @include fill-icon(#fff);
    }
  }
}

.add-new-block-empty {
  left: 35%;
}

.add-new-block-image {
  left: 40%;
}

.add-new-block-text {
  left: 45%;
}

.add-new-block-video {
  left: 50%;
}

.add-new-block-slider {
  left: 55%;
}

.edit-background-section {
  left: 60%;
}

.open-model {
  left: 65%;
}

.update-model-button {
  display: none;
  left: 70%;
}

// .builder-section-config i {
//   font-size: 20px;
//   line-height: 20px;
//   vertical-align: top;
//   text-align: center;
// }

// .section-toolBox {
//   width: 100%;
//   height: 20px;
//   overflow: visible;
//   right: 0px;
//   top: 0px;
//   background-color: #444;
//   display: none;
// }

// .tool-box-active {
//   display: block;
// }

.medium-editor-element:focus {
  outline: none;
}

// .rexpansive_section .full-disposition.focused,
// .rexpansive_section .center-disposition.focused {
//   overflow: visible;
// }

// .perfect-grid-item.focused,
// .grid-stack-item.focused {
//   overflow: visible;
//   z-index: 2;
//   outline: 1px dashed rgba(0, 0, 0, 0.5);
//   -webkit-box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
//   -moz-box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
//   box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
// }

// .perfect-grid-item.focused > .ui-resizable-handle,
// .grid-stack-item.focused.ui-resizable-handle {
//   visibility: visible;
// }

.grid-stack > .grid-stack-item > .ui-resizable-handle {
  visibility: hidden;
  overflow: visible;
  position: absolute;
  z-index: 20;
  box-sizing: inherit;
}

.gridActive > .grid-stack-item.focused:hover {
  cursor: move;
}

.el-size-viewer.focused {
  visibility: visible;
}

.el-size-settingButton.focused {
  visibility: visible;
}

.text-content {
  width: 100%;
  max-height: 100%;
}

.perfect-grid-item {
  transition: box-shadow 0.3s;
}

.grid-stack .grid-stack-placeholder > .placeholder-content {
  left: 0px;
  right: 0px;
}

.grid-stack > .grid-stack-item > .ui-resizable-e {
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
}

.grid-stack > .grid-stack-item > .ui-resizable-w {
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 100%;
}

.grid-stack > .grid-stack-item > .ui-resizable-s {
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 30px;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
  width: 30px;
  height: 30px;
  bottom: 0px;
  right: 0px;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.grid-stack > .grid-stack-item > .ui-resizable-sw {
  width: 30px;
  height: 30px;
  bottom: 0px;
  left: 0px;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rexlive-block-drag-handle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rexlive-block-drag-handle.drag-up {
  z-index: 1;
}

.builder-edit-block {
  left: 33%;
  cursor: pointer;
}

.builder-copy-block {
  left: 66%;
  cursor: copy;
}

.el-size-settingButton {
  position: absolute;
  z-index: 20;
  display: inline-block;
  color: #fff;
  overflow: hidden;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #039be5;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

// .grid-stack-item.focused {
//   overflow: visible;
//   z-index: 2;
//   outline: 1px dashed rgba(0, 0, 0, 0.5);
//   -webkit-box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
//   -moz-box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
//   box-shadow: 0px 0px 111px 1px rgba(0, 0, 0, 0.8);
// }

.resizePlaceHolder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

/* jQuery UI Draggable adds ui-draggable-dragging */
.ui-draggable-dragging {
  z-index: 2;
  cursor: pointer;
}

.grid-item-content:active {
  cursor: pointer;
}

.grid-item-content {
  width: 100%;
  height: 100%;
}

.grid-item-content > .responsive-block-overlay {
  width: 100%;
  height: 100%;
}

.rexbuilder-block-data {
  display: none;
}

.grid-stack-item.removing_block {
  display: none;
}

.grid-stack.grid-stack-one-column-mode > .grid-stack-item {
  margin-bottom: 0px;
}

.builder-edit-slider {
  display: none;
}

.block-has-slider .builder-edit-slider {
  display: block;
  left: 50%;
}

.nav-editor-mode-disable {
  display: none;
}

.nav-editor-mode-enable {
  display: block;
}

.responsive-overlay.rex-active-overlay {
  visibility: visible;
}

.responsive-block-overlay.rex-active-overlay {
  visibility: visible;
}

.youtube-player > .rex-youtube-wrap {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.removing-video-mp4 {
  display: none;
}
.removing-toggle-audio {
  display: none;
}
/* .rexpansive_section{
    z-index: 0;
} */

/* .grid-stack-item {
    transition: height 1s, min-height 1s;
} */

.rex-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rex-video-toggle-audio {
  z-index: 1;
}

.rex-flex-left.rex-flex-top {
  .rex-image-wrapper.natural-image-background {
    background-position: left top;
  }
}

.rex-flex-left.rex-flex-middle {
  .rex-image-wrapper.natural-image-background {
    background-position: left center;
  }
}

.rex-flex-left.rex-flex-bottom {
  .rex-image-wrapper.natural-image-background {
    background-position: left bottom;
  }
}

.rex-flex-center.rex-flex-top {
  .rex-image-wrapper.natural-image-background {
    background-position: center top;
  }
}

.rex-flex-center.rex-flex-middle {
  .rex-image-wrapper.natural-image-background {
    background-position: center center;
  }
}

.rex-flex-center.rex-flex-bottom {
  .rex-image-wrapper.natural-image-background {
    background-position: center bottom;
  }
}

.rex-flex-right.rex-flex-top {
  .rex-image-wrapper.natural-image-background {
    background-position: right top;
  }
}

.rex-flex-right.rex-flex-middle {
  .rex-image-wrapper.natural-image-background {
    background-position: right center;
  }
}

.rex-flex-right.rex-flex-bottom {
  .rex-image-wrapper.natural-image-background {
    background-position: right bottom;
  }
}

.rex-slider-wrap .rex-slider-element .rex-video-toggle-audio {
  position: absolute;
}

.rex-hide-responsive-tools > .rexpansive_section {
  .section-toolBox {
    .builder-copy-row,
    .add-new-block-empty,
    .add-new-block-image,
    .add-new-block-text,
    .add-new-block-video,
    .add-new-block-slider,
    .open-model {
      display: none;
    }
  }
  .rexlive-block-toolbox .rexlive-top-block-tools {
    .builder-edit-slider,
    .builder-copy-block {
      display: none;
    }
  }
}

.rexbuilder-live-content.rex-hide-responsive-tools > .add-new-section {
  display: none;
}

.rexpansive_section.rex-model-section .update-model-button {
  display: block;
}

.update-model-button.unlocked {
  // background-color: green;
  .locked-icon {
    display: none;
  }
  .unlocked-icon {
    display: inline;
  }
}

.update-model-button.locked {
  // background-color: red;
  .locked-icon {
    display: inline;
  }
  .unlocked-icon {
    display: none;
  }
}

.rexpansive-block-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.rexlive-block-grid-editing {
  .builder-move-row,
  .builder-delete-row,
  .update-model-button,
  .builder-copy-row {
    z-index: 101;
  }
}

.rex-container.editing-model {
  .update-model-button:not(.unlocked) {
    z-index: 30;
  }
}

.rexpansive-block-section-toolbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 35;
}

.rex-hide-section {
  display: none;
}
.medium-insert-buttons {
  position: absolute;
  right: 0;
}

.rex-video-vimeo-wrap,
.rex-youtube-wrap {
  .rex-video-iframe-natural {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    margin-top: 0 !important;
    margin-left: 0 !important;
    min-height: auto;
    min-width: auto;
  }
}

.rex-youtube-wrap,
.rex-video-vimeo-wrap {
  iframe {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
  }
}

.grid-stack-item.rex-hide-element {
  display: none;
}

.rex-custom-scrollbar .text-wrap > {
  ul,
  ol {
    margin-left: 1.25em;
  }
}

.rexpansive-lock-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(255, 0, 0, 0.2);
}


//gestione placeholder per la comunicazione tra i frame
.reserved-drop-marker {
  width: 100%;
  height: 2px;
  background: #00a8ff;
  position: absolute;
}
.reserved-drop-marker::after,
.reserved-drop-marker::before {
  content: "";
  background: #00a8ff;
  height: 7px;
  width: 7px;
  position: absolute;
  border-radius: 50%;
  top: -2px;
}
.reserved-drop-marker::before {
  left: 0;
}
.reserved-drop-marker::after {
  right: 0;
}
[data-dragcontext-marker],
[data-sh-parent-marker] {
  outline: #19cd9d solid 2px;
  text-align: center;
  position: absolute;
  z-index: 123456781;
  pointer-events: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
[data-dragcontext-marker] [data-dragcontext-marker-text],
[data-sh-parent-marker] [data-sh-parent-marker-text] {
  background: #19cd9d;
  color: #fff;
  padding: 2px 10px;
  display: inline-block;
  font-size: 14px;
  position: relative;
  top: -24px;
  min-width: 121px;
  font-weight: 700;
  pointer-events: none;
  z-index: 123456782;
}
[data-dragcontext-marker].invalid {
  outline: #dc044f solid 2px;
}
[data-dragcontext-marker].invalid [data-dragcontext-marker-text] {
  background: #dc044f;
}
[data-dragcontext-marker="body"] {
  outline-offset: -2px;
}
[data-dragcontext-marker="body"] [data-dragcontext-marker-text] {
  top: 0;
  position: fixed;
}
.drop-marker {
  pointer-events: none;
}
.drop-marker.horizontal {
  background: #00adff;
  position: absolute;
  height: 2px;
  list-style: none;
  visibility: visible !important;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.4),
    0 -1px 2px rgba(255, 255, 255, 0.4);
  z-index: 123456789;
  text-align: center;
}
.drop-marker.horizontal.topside {
  margin-top: 0;
}
.drop-marker.horizontal.bottomside {
  margin-top: 2px;
}
.drop-marker.horizontal:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #00adff;
  border-radius: 8px;
  margin-top: -3px;
  float: left;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.4),
    0 -1px 2px rgba(255, 255, 255, 0.4);
}
.drop-marker.horizontal:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #00adff;
  border-radius: 8px;
  margin-top: -3px;
  float: right;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.4),
    0 -1px 2px rgba(255, 255, 255, 0.4);
}
.drop-marker.vertical {
  list-style: none;
  border: 1px solid #00adff;
  position: absolute;
  margin-left: 3px;
  display: inline;
  box-shadow: 1px 0 2px rgba(255, 255, 255, 0.4),
    -1px 0 2px rgba(255, 255, 255, 0.4);
}
.drop-marker.vertical.leftside {
  margin-left: 0;
}
.drop-marker.vertical.rightside {
  margin-left: 3px;
}
.drop-marker.vertical:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #00adff;
  border-radius: 8px;
  margin-top: -4px;
  top: 0;
  position: absolute;
  margin-left: -4px;
  box-shadow: 1px 0 2px rgba(255, 255, 255, 0.4),
    -1px 0 2px rgba(255, 255, 255, 0.4);
}
.drop-marker.vertical:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #00adff;
  border-radius: 8px;
  margin-left: -4px;
  bottom: -4px;
  position: absolute;
  box-shadow: 1px 0 2px rgba(255, 255, 255, 0.4),
    -1px 0 2px rgba(255, 255, 255, 0.4);
}

.rex-container{
  min-height: 100px;
}