.rexbuilder-live-content--editing {

  position: relative;
  .rexpansive_section {
    &#{$row-focused} {
      z-index: 2000;
      // border: 2px solid $icon-active-color;
      .rex-row__dimension {
        overflow: visible;
      }
  
      .perfect-grid-gallery {
        overflow: visible;
      }
    }
  
    &.empty-section {
      .responsive-overlay {
        min-height: 100px;
      }
    }
  
    // &:hover {
    //   outline: 2px solid $palette-color-1;
    // }
  }
}

.rex-row__dimension:before, 
.rex-row__dimension:after {
  content: ' ';
  display: table;
}

.perfect-grid-gallery {
  &#{$row-focused} {
    overflow: visible;
  }
}