.wpcf7-form {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  padding-top: 13px;
  margin-top: 10px;

  .wpcf7-rows {
    display: block;
    width: 100%;

    .wpcf7-row {
      display: flex;
      width: 100%;
      min-height: 72px;

      .wpcf7-column {
        display: flex;

        .wpcf7-column-content {
          width: 100%;
        }

        .rex-wpcf7-column-content-data {
          display: none;
        }

        .wpcf7-add-new-form-content {
          margin: auto 0;
          display: none;
        }

        .wpcf7-add-new-row {
          margin: auto 0;
        }
      }

      &.wpcf7-row__1-column,
      &.wpcf7-row__2-columns,
      &.wpcf7-row__3-columns,
      &.wpcf7-row__4-columns {
        .wpcf7-column {
          float: left;
          padding: 10px;
          // justify-content: center;
        }
      }
      
      &.wpcf7-row__1-column {
        .wpcf7-column {
          width: 100%;
        }
      }

      &.wpcf7-row__2-columns {
        .wpcf7-column {
          width: 50%;
          max-width: 50%;
        }
      }

      &.wpcf7-row__3-columns {
        .wpcf7-column {
          width: 33.3333%;
          // max-width: 33.3333%;
        }
      }

      &.wpcf7-row__4-columns {
        .wpcf7-column {
          width: 25%;
          // max-width: 25%;
        }
      }
    }
  }

  .wpcf7-response-output {
    width: 100%;
  }
}

// div.wpcf7-response-output {
//   margin: 2em 0.5em 1em;
//   padding: 0.2em 1em;
// }

// div.wpcf7-mail-sent-ok {
//   border: 2px solid #398f14;
// }

// div.wpcf7-mail-sent-ng {
//   border: 2px solid #ff0000;
// }

// div.wpcf7-spam-blocked {
//   border: 2px solid #ffa500;
// }

// div.wpcf7-validation-errors {
//   border: 2px solid #f7e700;
// }