.wpcf7-form {
  .wpcf7-rows {

    .wpcf7-row {

      .wpcf7-column {

        &.with-button {
          justify-content: center;
        }

        .wpcf7-add-new-form-content {
          margin: auto 0;
          display: none;
        }

        .wpcf7-add-new-row {
          margin: auto 0;
        }
      }
    }
  }
}
