	ul {
		list-style:none;
	}

	.layout__list {
	}

  .rexlive-toolbox{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    z-index: 200;
  }

	.layout {
		display:flex;
		justify-content: space-around;
	}

	.layout__setting {
		padding: 10px;
	}

	.rexlive-layout--edit,
	.rexlive-layout--delete {
		cursor: pointer;
	}

	.hide-icon {
		display:none;
	}

	.layout__item.editing .layout-value {
		display:none;
	}

	.layout__item input {
		max-width: 75px;
	}

	.rexlive-responsive-toolbox {
		display:flex;
		justify-content: space-between;
		height: 100%;
    	align-items: center;
	}
/* hiding wordpress*/
	#adminmenumain,#wpcontent,#wpfooter{
		display: none;
	}

	html.wp-toolbar {
		padding-top: 0;
	}
	body.rexpansive-editor {
		overflow:hidden;
		background-color:grey;
	}

	.rexpansive-live-frame-container {
		width:100%;height:100vh;margin: 0 auto;
		padding-top: 100px;
	}
	.title-slider{
		display: none;
	}
	.editing-title-slider .title-slider{
		display: block;
	}

	.editing-title-slider .rx__form-input{
		display: none;
	}

	.set-video-audio-btn {
		display: none;
	}
	.video-insert-wrap.selected .set-video-audio-btn {
		display: block;
	}