ul {
  list-style: none; }

.bg-palette-blue {
  background-color: #2196f3; }

.bg-palette-green {
  background-color: #8bc34a; }

.bg-palette-black {
  background-color: black; }

.bg-palette-red {
  background-color: #f44336; }

.bg-palette-orange {
  background-color: #ff9800; }

.bg-palette-purple {
  background-color: #9c27b0; }

.bg-palette-transparent {
  background-color: rgba(255, 255, 255, 0); }

.overlay-palette-blue {
  background-color: rgba(33, 150, 243, 0.6); }

.overlay-palette-green {
  background-color: rgba(139, 195, 74, 0.6); }

.overlay-palette-black {
  background-color: rgba(0, 0, 0, 0.6); }

.overlay-palette-red {
  background-color: rgba(244, 67, 54, 0.6); }

.overlay-palette-orange {
  background-color: rgba(255, 152, 0, 0.6); }

.overlay-palette-purple {
  background-color: rgba(156, 39, 176, 0.6); }

.overlay-palette-transparent {
  background-color: rgba(255, 255, 255, 0); }

.image-preview-logo {
  width: 42px;
  height: 42px;
  float: left;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  border: 1px solid #757575;
  background-color: #757575;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out; }

.image-preview-logo:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.image-preview-logo i {
  line-height: 42px;
  color: #fff;
  font-size: 26px; }

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .layout.active-on-page {
    background-color: lightblue; }

.layout__setting {
  padding: 10px; }

.rexlive-layout--edit,
.rexlive-layout--delete {
  cursor: pointer; }

.hide-icon {
  display: none; }

.layout__item.editing .layout-value {
  display: none; }

.layout__item input {
  max-width: 75px; }
.layout__item .removing-item {
  display: none; }

#rexlive-custom-layout-modal .rex-cancel-button {
  width: 100%; }

.rex-model__import--wrap-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.rex-model__import--wrap-active.hide-import-wrap {
  display: none; }

#rex-edit-model-choose .rex-hide-option {
  display: none; }

.set-video-audio-btn {
  display: none; }

.video-insert-wrap.selected .set-video-audio-btn {
  display: block; }

.input-field.hide-mp4-link {
  visibility: hidden; }

.title-slider {
  display: none; }

.editing-title-slider .title-slider {
  display: block; }

.editing-title-slider .rx__form-input {
  display: none; }

.rexlive-toolbox {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: aquamarine;
  z-index: 200; }

.rexlive-responsive-buttons-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.rexlive-responsive-toolbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.rexlive-builder-actions {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.rex-saving.btn-save {
  background-color: #757575; }

#rexpansive-builder-backend-wrapper .rexpansive-live-frame-container {
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms; }

#adminmenumain,
#wpcontent,
#wpfooter {
  display: none; }

html.wp-toolbar {
  padding-top: 0; }

body.rexpansive-editor {
  overflow: hidden;
  background-color: grey; }

.rexpansive-live-frame-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px; }
